<p-toast
  [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'1000ms'"
  [showTransformOptions]="'translateX(100%)'" />

<p-confirmDialog />

<div class="grid">
    <div class="col-12 lg:col-4">
      <!-- <span class="text-900 block mb-3 font-bold">Informations: </span> -->
      <ul class="list-none p-0 m-0 text-600 mb-2 text-600">
          <li class="mb-3"><span class="font-semibold">Année scolaire:</span> 2024-2025</li>
          <li class="mb-3"><span class="font-semibold">Nom Prenom:</span> {{selectedPersonnel.nomPrenom}}-{{selectedPersonnel.nomPrenomArab}}</li>
          <li class="mb-3"><span class="font-semibold">Sexe:</span> Masculin</li>
          <!-- <li class="mb-3"><span class="font-semibold">Corps/Grade:</span> valeur</li> -->
      </ul>
    </div>
  <div class="col-12 lg:col-4">
    <ul class="list-none p-0 m-0 text-600 mb-2 text-600">
      <li class="mb-3"><span class="font-semibold">Nni:</span> {{selectedPersonnel.nni}}</li>
      <li class="mb-3"><span class="font-semibold">Matricule:</span> {{selectedPersonnel.matricule}}</li>
        <!-- <li class="mb-3"><span class="font-semibold">Diplôme académique le plus élevé:</span> diplôme...</li>
        <li class="mb-3"><span class="font-semibold">Discipline d'origine:</span> discipline ...</li> -->
    </ul>
  </div>
  <!-- <div class="col-12 lg:col-4">
    <ul class="list-none p-0 m-0 text-600 mb-4 text-600">
        <li class="mb-3"><span class="font-semibold">Discipline enseignée:</span> discipline ...</li>
        <li class="mb-3"><span class="font-semibold">Telephone:</span> ...</li>
        <li class="mb-3"><span class="font-semibold">Email:</span> ...</li>
    </ul> -->
  <!-- </div> -->





    <div class="container py-5">
      <form [formGroup]="affectationForm">
               <div class="text-sm mb-2">
                  Champs obligatoires:
                  <span class="text-red-500">*</span>
               </div>
  
        <div class="border-1 surface-border border-round p-fluid mb-4">
          <span class="text-900 font-bold block border-bottom-1 surface-border p-3">Critères d’affectation pour convenances personnelles des enseignants</span>
          <div class="p-fluid p-formgrid grid m-2">
  
            <!-- Ancienneté générale -->
            <div class="field col-12 md:col-4">
              <label for="AnciennetéGenerale">1- Ancienneté dans la Fonction publique</label>
              <input
                type="number"
                pInputText
                id="AnciennetéGenerale"
                placeholder="Entrez l'ancienneté dans la Fonction publique"
                required
              />
            </div>
            <!-- Note administrative ou pédagogique -->
            <div class="field col-12 md:col-4">
              <label for="notePedagogiq">2- Note d’inspection pédagogique</label>
              <input
                type="number"
                pInputText
                placeholder="Entrez la note d’inspection pédagogique"
                id="notePedagogiq"
                required
              />
            </div>
            <!-- Note administrative ou pédagogique -->
            <div class="field col-12 md:col-4">
              <label for="noteAdministrative">3- Note d’évaluation administrative</label>
              <input
                type="number"
                pInputText
                placeholder="Entrez la note d’évaluation administrative"
                id="noteAdministrative"
                required
              />
            </div>
            <!-- Ancienneté poste -->
            <div class="field col-12 md:col-4">
              <label for="ancienetePost">4- Ancienneté dans la wilaya</label>
              <input
                type="number"
                pInputText
                placeholder="Entrez l'ancienneté dans la wilaya"
                id="ancienetePost"
                required
              />
            </div>
            <!-- Distinction -->
            <div class="field col-12 md:col-4">
              <label for="distinction">5- Distinction</label>
              <p-dropdown
                id="distinction"
                [options]="listeDistinction"
                placeholder="Selectionner la distinction" />
            </div>
          <!-- Nombre d’enfants à charge -->
          <div class="field col-12 md:col-4">
            <label for="nbrEnfants">6- Nombre d’enfants à charge</label>
            <input
              type="number"
              pInputText
              id="nbrEnfants"
              placeholder="Entrez le nombre d’enfants à charge"
            />
          </div>
          <!-- Poste actuel -->
          <div class="field col-12 md:col-4">
            <label for="postActuel">7- Poste actuel</label>
            <input
              type="text"
              pInputText
              id="postActuel"
              placeholder="Entrez le poste actuel"
            />
          </div>
            <!--        Zone géographique de destination 1   -->
            <div class="field col-12 md:col-4">
              <label for="localite">8- Zone géographique de destination 1</label>
              <p-dropdown
                id="localite"
                [options]="listWilaya"
                placeholder="Selectionner la zone de destination nº1" />
            </div>
            <!--        Zone géographique de destination 2   -->
            <div class="field col-12 md:col-4">
              <label for="localite2">9- Zone géographique de destination 2</label>
              <p-dropdown
                id="localite2"
                [options]="listWilaya"
                placeholder="Selectionner la zone de destination nº2" />
            </div>
            <!--        Zone géographique de destination 3   -->
            <div class="field col-12 md:col-4">
              <label for="localite3">10- Zone géographique de destination 3</label>
              <p-dropdown
                id="localite3"
                [options]="listWilaya"
                placeholder="Selectionner la zone de destination nº3" />
            </div>
            <!--        Zone géographique de destination 4   -->
            <div class="field col-12 md:col-4">
              <label for="localite4">11- Zone géographique de destination 4</label>
              <p-dropdown
                id="localite4"
                [options]="listWilaya"
                placeholder="Selectionner la zone de destination nº4" />
            </div>
            <!--        Zone géographique de destination 5   -->
            <div class="field col-12 md:col-4">
              <label for="localite5">12- Zone géographique de destination 5</label>
              <p-dropdown
                id="localite5"
                [options]="listWilaya"
                placeholder="Selectionner la zone de destination nº5" />
            </div>
            <!-- Discrimination positive -->
            <div class="field col-12 md:col-4">
              <label for="discrimination">13- Discrimination positive</label>
              <input
                type="text"
                pInputText
                placeholder="Entrez la discrimination positive"
                id="discrimination"
              />
            </div>
          <!-- Situation sanitaire -->
          <div class="field col-12 md:col-4">
            <label for="situationSanitaire">14- Situation sanitaire</label>
            <input
              type="text"
              pInputText
              id="situationSanitaire"
            />
          </div>
            <!-- Regroupement de conjoints -->
            <div class="field col-12 md:col-4">
              <label for="regroupement">15- Regroupement de conjoints</label>
              <input
                type="text"
                pInputText
                id="regroupement"
              />
            </div>
  <!--          Autres situations sociales    -->
            <div class="field col-12 md:col-4">
              <label for="autreSituationSociale">16- Autres situations sociales</label>
              <input
                type="text"
                pInputText
                id="autreSituationSociale"
              />
            </div>
            <!--Sexe-->
            <!-- <div class="field col-12 md:col-4">
              <label for="sexe">14- Sexe</label>
              <input
                type="text"
                pInputText
                id="sexe"
                [value]="selectedPersonnel.sexePers ? selectedPersonnel.sexePers : 'Neant'"
                disabled
                required
              />
            </div> -->
            <!-- Situation matrimoniale -->
            <!-- <div class="field col-12 md:col-4">
              <label for="autreSituation">15- Autre situation</label>
              <input
                type="text"
                pInputText
                id="autreSituation"
                placeholder="Entrez la situation"              
              />
            </div>. -->
                     <!-- date effet -->
           <!-- <div class="field col-12 md:col-4">
             <label for="dateeffet"> Date Effet </label>
             <p-calendar
               [dateFormat]="'yy-mm-dd'"
                    id="dateeffet"
                    formControlName="dateEffet"
                    [readonlyInput]="true"
                    styleClass="mb-1"
                  />
                 </div> -->
          <!-- Motif -->
         <!-- <div class="field col-12 md:col-4">
           <label for="motif">Motif </label>
           <input
             type="text"
            pInputText
            id="motif"
              formControlName="motif"
           required
         />
            </div> -->
        </div>
        </div>
  
        <div class="border-1 surface-border border-round p-fluid mb-4">
          <span class="text-900 font-bold block border-bottom-1 surface-border p-3">Pièces justificatives</span>
              <div class="p-fluid p-formgrid grid m-2">
                <div class="col-12 lg:col-5">
                  <div class="field">
                    <label class="font-medium text-900">Libellé de la Pièce</label>
                    <input
                      type="text"
                      [(ngModel)]="pieceLibelle"
                      [ngModelOptions]="{standalone: true}"
                      pInputText
                      id="libelle"
                      />
                    <p-fileUpload #fileUpload (onUpload)="onUploadFile($event)" [customUpload]="true" (onSelect)="onUploadFile($event)" accept=".png,.jpg"  [showUploadButton]="false" [showCancelButton]="false" [auto]="true" styleClass="border-1 surface-border surface-card p-0 border-round m-2">
                      <ng-template pTemplate="content">
                        <div class="h-20rem m-1 border-round">
                          @if(!image){
                            <div class="flex flex-column w-full h-full justify-content-center align-items-center cursor-pointer" (click)="fileUpload.advancedFileInput.nativeElement.click()">
                              <i class="pi pi-fw pi-file text-4xl text-primary"></i>
                              <span class="block font-semibold text-900 text-lg mt-3">Déposer ou sélectionner une image</span>
                            </div>
                          }
                          @if(image){
                            <div class="w-full h-full relative border-round p-0">
                              <img [src]="image.objectURL" class="w-full h-full border-round" alt="blog cover">
                              <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-primary text-sm absolute justify-content-center align-items-center" style="top: -10px; right: -10px;" (click)="$event.stopPropagation(); removeFile()"></button>
                            </div>
                          }
                        </div>
                      </ng-template>
                    </p-fileUpload>
                  </div>
                  <button pButton=""
                          pRipple=""
                          (click)="ajouter()"
                          label="Ajouter"
                          icon="pi pi-plus"
                          class="p-element p-ripple p-button-outlined p-button-primary p-button p-component "
                  >
                  </button>
                </div>
                <div class="col-12 lg:col-7">
                  <p-table
                    [columns]="colsDossier"
                    [value]="listPieceJustificatif"
                    #dt1
                    dataKey="id"
                    [rows]="5"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="Page {currentPage} sur {totalPages}"
                    [paginator]="true"
                    styleClass="p-datatable-gridlines p-datatable-striped"
                    responsiveLayout="scroll"
                    [rowHover]="true"
                    [rowsPerPageOptions]="[5,10]"
                    tableStyleClass="p-datatable-gridlines"
                  >
                    <ng-template let-columns pTemplate="header">
                      <tr>
                        @for (col of columns; track col.field) {
                          <th
                            style="min-width: 15rem"
                            [pSortableColumn]="col.field"
                            class="font-weight-bold"
                          >
                            {{ col.header }}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                          </th>
                        }
                        <th>Actions</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-piece>
                      <tr>
                        <td>{{ piece.libelle }}</td>
                        <td>
                          <div class="flex flex-column w-2 justify-content-between" style="row-gap: 1rem;"></div>
                          <img  [src]="piece.images.objectURL" alt=""
                               class="w-10rem  shadow-4">
                        </td>
                        <td>
                        <!--          Bouton pour supprimer un element de la liste -->
                        <button
                        pButton
                        type="button"
                        pTooltip="Retirer"
                        tooltipPosition="top"
                        pRipple
                        icon="pi pi-trash"
                        class="p-button-rounded p-button-danger mx-2"
                        iconPos="left"
                        (click)="removePiece(piece)"
                      ></button>
                    </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="8">Aucun élement.</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
        </div>
      </form>
    </div>
    <div class="flex justify-content-between gap-3">
    <button pButton pRipple class="p-button-primary flex-1" label="Enregistrer" icon="pi pi-fw pi-check" (click)="save()"></button>
    <button pButton pRipple class="p-button-danger flex-1 p-button-outlined" label="Annuler" (click)="cancelMobilite()" icon="pi pi-fw pi-times"></button>
    </div>
  </div>