<p-toast
  [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'1000ms'"
  [showTransformOptions]="'translateX(100%)'"
/>

<p-confirmDialog />

<mrt-agent-form-details-view></mrt-agent-form-details-view>

<div class="container py-5">
  <form [formGroup]="affectationForm">
    <div class="p-fluid p-formgrid grid m-2">
      <!-- Poste actuel -->
      <div class="flex align-items-center flex-wrap gap-2 m-3">
        <label for="postActuel" class="w-9rem">Poste actuel</label>
        <input
          id="postActuel"
          type="text"
          pInputText
          formControlName="posteActuel"
          placeholder="Entrez le poste actuel"
        />
        <mrt-form-validators
          [entityField]="'posteActuel'"
          [formGroup]="affectationForm"
        />
      </div>
      <!-- Dren actuelle -->
      <div class="flex align-items-center flex-wrap gap-2 m-3">
        <label for="dren" class="w-9rem">DREN</label>
        <input
          id="dren"
          type="text"
          pInputText
          placeholder="Entrez le dren"
          formControlName="drenActuelle"
        />
        <mrt-form-validators
          [entityField]="'drenActuelle'"
          [formGroup]="affectationForm"
        />
      </div>
    </div>

    <div class="border-1 surface-border border-round p-fluid mb-4">
      <span class="text-900 font-bold block border-bottom-1 surface-border p-3"
        >Wilayas demandées (Par ordre de préférence)</span
      >
      <div class="p-fluid p-formgrid grid m-2">
        <!--        Zone géographique de destination 1   -->
        <div class="field col-12 md:col-4">
          <label for="localite">Zone géographique de destination </label>
          <p-dropdown
            id="localite"
            [options]="listWilaya"
            [(ngModel)]="demandeObject.zoneDemande1"
            [checkmark]="true"
            [showClear]="true"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Selectionner la zone de destination nº1"
          />
        </div>
        <!--        Zone géographique de destination 2   -->
        <div class="field col-12 md:col-4">
          <label for="localite2">Zone géographique de destination 2</label>
          <p-dropdown
            id="localite2"
            [options]="listWilaya"
            formControlName="zoneDemande2"
            placeholder="Selectionner la zone de destination nº2"
          />
          <mrt-form-validators
            [entityField]="'zoneDemande2'"
            [formGroup]="affectationForm"
          />
        </div>
        <!--        Zone géographique de destination 3   -->
        <div class="field col-12 md:col-4">
          <label for="localite3">Zone géographique de destination 3</label>
          <p-dropdown
            id="localite3"
            [options]="listWilaya"
            formControlName="zoneDemande3"
            placeholder="Selectionner la zone de destination nº3"
          />
          <mrt-form-validators
            [entityField]="'zoneDemande3'"
            [formGroup]="affectationForm"
          />
        </div>
        <!--        Zone géographique de destination 4   -->
        <div class="field col-12 md:col-4">
          <label for="localite4">Zone géographique de destination 4</label>
          <p-dropdown
            id="localite4"
            [options]="listWilaya"
            formControlName="zoneDemande4"
            placeholder="Selectionner la zone de destination nº4"
          />
          <mrt-form-validators
            [entityField]="'zoneDemande4'"
            [formGroup]="affectationForm"
          />
        </div>
        <!--        Zone géographique de destination 5   -->
        <div class="field col-12 md:col-4">
          <label for="localite5">Zone géographique de destination 5</label>
          <p-dropdown
            id="localite5"
            [options]="listWilaya"
            formControlName="zoneDemande5"
            placeholder="Selectionner la zone de destination nº5"
          />
          <mrt-form-validators
            [entityField]="'zoneDemande5'"
            [formGroup]="affectationForm"
          />
        </div>
      </div>
    </div>

    <div class="border-1 surface-border border-round p-fluid mb-4">
      <span class="text-900 font-bold block border-bottom-1 surface-border p-3"
        >Critères d’affectation pour convenances personnelles des
        enseignants</span
      >
      <div class="p-fluid p-formgrid grid m-2">
        <!-- Ancienneté générale -->
        <div class="field col-12 md:col-4">
          <label for="AnciennetéGenerale"
            >1- Ancienneté dans la Fonction publique</label
          >
          <input
            type="number"
            pInputText
            id="AnciennetéGenerale"
            formControlName="ancieneteFonctionPublique"
            placeholder="Entrez l'ancienneté dans la Fonction publique"
            required
          />
          <mrt-form-validators
            [entityField]="'ancieneteFonctionPublique'"
            [formGroup]="affectationForm"
          />
        </div>
        <!-- Note administrative ou pédagogique -->
        <div class="field col-12 md:col-4">
          <label for="notePedagogiq">2- Note d’inspection pédagogique</label>
          <input
            type="number"
            pInputText
            placeholder="Entrez la note d’inspection pédagogique"
            id="notePedagogiq"
            formControlName="noteInspectionPedagogique"
            required
          />
          <mrt-form-validators
            [entityField]="'noteInspectionPedagogique'"
            [formGroup]="affectationForm"
          />
        </div>
        <!-- Note administrative ou pédagogique -->
        <div class="field col-12 md:col-4">
          <label for="noteAdministrative"
            >3- Note d’évaluation administrative</label
          >
          <input
            type="number"
            pInputText
            formControlName="noteEvaluationAdministrative"
            placeholder="Entrez la note d’évaluation administrative"
            id="noteAdministrative"
            required
          />
          <mrt-form-validators
            [entityField]="'noteEvaluationAdministrative'"
            [formGroup]="affectationForm"
          />
        </div>
        <!-- Ancienneté poste -->
        <div class="field col-12 md:col-4">
          <label for="ancienetePost">4- Ancienneté dans la wilaya</label>
          <p-dropdown
            id="ancienetePost"
            [options]="ancieneteList"
            formControlName="anciennetePosteActuel"
            placeholder="L’ancienneté dans la wilaya d’exercice"
          />
          <mrt-form-validators
            [entityField]="'anciennetePosteActuel'"
            [formGroup]="affectationForm"
          />
        </div>
        <!-- Distinction -->
        <div class="field col-12 md:col-4">
          <label for="distinction">5- Distinction</label>
          <p-dropdown
            id="distinction"
            [options]="listeDistinction"
            formControlName="distinction"
            placeholder="Selectionner la distinction"
          />
          <mrt-form-validators
            [entityField]="'distinction'"
            [formGroup]="affectationForm"
          />
        </div>
        <!-- Nombre d’enfants à charge -->
        <div class="field col-12 md:col-4">
          <label for="nbrEnfants">6- Nombre d’enfants à charge</label>
          <p-dropdown
            id="nbrEnfants"
            [options]="nbrEnfantsOptions"
            formControlName="nombreEnfantsACharge"
            placeholder="Nombre d’enfants à charge"
          />
          <mrt-form-validators
            [entityField]="'nombreEnfantsACharge'"
            [formGroup]="affectationForm"
          />
        </div>

        <!--        Zone géographique de destination 1   -->
        <div class="field col-12 md:col-4">
          <label for="localite">8- Zone géographique de destination 1</label>
          <input
            type="text"
            [value]="
              demandeObject.zoneDemande1
                ? demandeObject.zoneDemande1
                : 'Zone Geographique 1'
            "
            pInputText
            disabled
            id="localite"
          />
        </div>

        <!-- Discrimination positive -->
        <div class="field col-12 md:col-4">
          <label for="discrimination">9- Discrimination positive</label>
          <input
            id="discrimination"
            type="text"
            pInputText
            formControlName="discriminationPositive"
            placeholder="discrimination"
          />
          <mrt-form-validators
            [entityField]="'discriminationPositive'"
            [formGroup]="affectationForm"
          />
        </div>
        <!-- Situation sanitaire -->
        <div class="field col-12 md:col-4">
          <label for="situationSanitaire">10- Situation sanitaire</label>
          <input
            type="text"
            pInputText
            id="situationSanitaire"
            formControlName="situationSanitaire"
          />
          <mrt-form-validators
            [entityField]="'situationSanitaire'"
            [formGroup]="affectationForm"
          />
        </div>
        <!-- Regroupement de conjoints -->
        <div class="field col-12 md:col-4">
          <label for="regroupement">11- Regroupement de conjoints</label>
          <input
            type="text"
            pInputText
            id="regroupement"
            formControlName="regroupementConjoint"
          />
          <mrt-form-validators
            [entityField]="'regroupementConjoint'"
            [formGroup]="affectationForm"
          />
        </div>
        <!--          Autres situations sociales    -->
        <div class="field col-12 md:col-4">
          <label for="autreSituationSociale"
            >12- Autres situations sociales</label
          >
          <input
            type="text"
            pInputText
            id="autreSituationSociale"
            formControlName="autreSituationSociale"
          />
          <mrt-form-validators
            [entityField]="'autreSituationSociale'"
            [formGroup]="affectationForm"
          />
        </div>
      </div>
    </div>

    <div class="border-1 surface-border border-round p-fluid mb-4">
      <span class="text-900 font-bold block border-bottom-1 surface-border p-3"
        >Pièces justificatives</span
      >
      <div class="p-fluid p-formgrid grid m-2">
        <div class="col-12 lg:col-5">
          <div class="field">
            <label class="font-medium text-900">Libellé de la Pièce</label>
            <p-dropdown
              id="libelle"
              [options]="listeLibellePiece"
              [(ngModel)]="pieceLibelle"
              [ngModelOptions]="{ standalone: true }"
              placeholder="Selectionner le libelle de la piece"
            />
            <p-fileUpload
              #fileUpload
              (onUpload)="onUploadFile($event)"
              [customUpload]="true"
              (onSelect)="onUploadFile($event)"
              accept=".png,.jpg,.jpeg"
              [showUploadButton]="false"
              [showCancelButton]="false"
              [auto]="true"
              styleClass="border-1 surface-border surface-card p-0 border-round m-2"
            >
              <ng-template pTemplate="content">
                <div class="h-20rem m-1 border-round">
                  @if(!image){
                  <div
                    class="flex flex-column w-full h-full justify-content-center align-items-center cursor-pointer"
                    (click)="fileUpload.advancedFileInput.nativeElement.click()"
                  >
                    <i class="pi pi-file-pdf text-8xl text-red-500"></i>
                    <span class="block font-semibold text-900 text-lg mt-3"
                      >Déposer ou sélectionner une image</span
                    >
                  </div>
                  } @if(image){
                  <div class="w-full h-full relative border-round p-0">
                    <img
                      [src]="image.objectURL"
                      class="w-full h-full border-round"
                      alt="blog cover"
                    />

                    <button
                      pButton
                      pRipple
                      type="button"
                      label="Retirer"
                      icon="pi pi-times"
                      class="p-button-rounded p-button-primary text-sm absolute justify-content-center align-items-center"
                      style="top: -10px; right: -10px"
                      (click)="$event.stopPropagation(); removeFile()"
                    ></button>
                  </div>
                  }
                </div>
              </ng-template>
            </p-fileUpload>
          </div>
          <button
            pButton=""
            pRipple=""
            (click)="ajouter()"
            label="Ajouter"
            icon="pi pi-plus"
            class="p-element p-ripple p-button-outlined p-button-primary p-button p-component"
          ></button>
        </div>
        <div class="col-12 lg:col-7">
          <p-table
            [columns]="colsDossier"
            [value]="listPieceJustificatif"
            #dt1
            dataKey="id"
            [rows]="5"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Page {currentPage} sur {totalPages}"
            [paginator]="true"
            styleClass="p-datatable-gridlines p-datatable-striped"
            responsiveLayout="scroll"
            [rowHover]="true"
            [rowsPerPageOptions]="[5, 10]"
            tableStyleClass="p-datatable-gridlines"
          >
            <ng-template let-columns pTemplate="header">
              <tr>
                @for (col of columns; track col.field) {
                <th
                  style="min-width: 15rem"
                  [pSortableColumn]="col.field"
                  class="font-weight-bold"
                >
                  {{ col.header }}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                }
                <th>Actions</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-piece>
              <tr>
                <td>{{ piece.libelle }}</td>
                <td>
                  <div
                    class="flex flex-column w-2 justify-content-between"
                    style="row-gap: 1rem"
                  ></div>
                  <img
                    [src]="piece.images.objectURL"
                    alt=""
                    class="w-10rem shadow-4"
                  />
                </td>
                <td>
                  <!--          Bouton pour supprimer un element de la liste -->
                  <button
                    pButton
                    type="button"
                    label="Supprimer"
                    pRipple
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-danger mx-2"
                    iconPos="left"
                    (click)="removePiece(piece)"
                  ></button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="8">Aucun élement.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="flex justify-content-between gap-3">
  <button
    pButton
    pRipple
    class="p-button-primary flex-1"
    label="Enregistrer"
    icon="pi pi-fw pi-check"
    [disabled]="!affectationForm.valid"
    (click)="save()"
  ></button>
  <button
    pButton
    pRipple
    class="p-button-danger flex-1 p-button-outlined"
    label="Annuler"
    (click)="cancelMobilite()"
    icon="pi pi-fw pi-times"
  ></button>
</div>
