<!--Toast notification view-->
<p-toast
  [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'1000ms'"
  [showTransformOptions]="'translateX(100%)'"
/>

<!-- Confirmation Dialog-->
<p-confirmDialog />



<div class="container">
<!--Agent information -->
  <div class="border-1 surface-border border-round p-fluid mb-4">
    <span class="text-900 font-bold block border-bottom-1 surface-border p-3">Situation actuelle de l'agent</span>
    <div class="grid m-4">
      <div class="col-12 lg:col-4">
        <ul class="list-none p-0 m-0 text-600 mb-2 text-600">
          <li class="mb-3"><span class="font-semibold">Corps :</span> </li>
          <li class="mb-3"><span class="font-semibold">Echelle :</span> </li>
          <li class="mb-3"><span class="font-semibold">Echellon :</span> </li>
          <li class="mb-3"><span class="font-semibold">Grade :</span> </li>
          <li class="mb-3"><span class="font-semibold">Lieu de naissance :</span> </li>

        </ul>
      </div>
      <div class="col-12 lg:col-4">
        <!-- <span class="text-900 block mb-3 font-bold">Informations: </span> -->
        <ul class="list-none p-0 m-0 text-600 mb-2 text-600">


          <li class="mb-3">
            <span class="font-semibold">
              NNI :
            </span>
            nni
          </li>

          <li class="mb-3">
            <span class="font-semibold">
              Année scolaire :
            </span>
            2024-2025
          </li>
          <li class="mb-3">
            <span class="font-semibold">
              Nom et Prénoms :
            </span>
            nom prenom
          </li>

          <!--      <li class="mb-3">-->
          <!--            <span class="font-semibold">-->
          <!--              Matricule :-->
          <!--            </span>-->
          <!--        {{selectedPersonnel.matricule}}-->
          <!--      </li>-->
          <li class="mb-3">
            <span class="font-semibold">
              Date de naissance :
            </span>
          </li>
          <li class="mb-3">
            <span class="font-semibold">
              Ecole :
            </span>
          </li>
        </ul>
      </div>

      <div class="col-12 lg:col-4">
        <img src="assets/demo/images/avatar/circle/avatar-f-1@2x.png" class="w-6rem h-6rem border-circle shadow-4" alt="Asiya Javayant">
      </div>

    </div>
  </div>
</div>

<!--Formulaire-->
<div class="container">
  <div class="p-fluid p-formgrid grid m-2">
<!--    Compte bancaire-->
    <div class="field col-12 lg:col-6">
      <label for="postActuel">N° Compte Bancaire </label>
      <input
        id="postActuel"
        type="text"
        pInputText
        placeholder="Entrez le N° de compte"
      />
    </div>

<!--    Nom de la banque -->
    <div class="field col-12 lg:col-6">
      <label for="dren">Nom de la Banque</label>
      <input id="dren" type="text" pInputText placeholder="Nom Banque" />
    </div>
  </div>



  <!--    Piece a joindre-->
  <div class="border-1 surface-border border-round p-fluid mb-4 p-3">
      <span class="text-900 font-bold block border-bottom-1 surface-border p-3"
      >Pièces a joindre</span
      >
    <div class="p-fluid p-formgrid grid">
<!--      Multiselect piece jointe -->
      <div class="col-12">
        <div class="field">
          <label class="font-medium text-900 m-2">Libellé de la Pièce</label>
          <p-multiSelect
            id="libelle"
            appendTo="body"
            [options]="listeLibellePiece"
            [(ngModel)]="pieceLibelle"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Selectionner le libelle de la piece"
            display="chip"
            [showClear]="true" />
        </div>
      </div>
    </div>

<!--    Button ajouter -->
    <button
    pButton=""
    pRipple=""
    (click)="ajouter()"
    label="Ajouter"
    icon="pi pi-plus"
    class="p-element p-ripple p-button-outlined p-button-primary p-button p-component w-15rem mr-5"
  ></button>

    <!-- Upload button-->
    <button
      pButton=""
      pRipple=""
      (click)="ShowDialog()"
      label="Upload"
      icon="pi pi-download"
      class="p-element p-ripple   p-button-info p-button p-component w-15rem"
    ></button>
  </div>

<!--  Table -->
  <div class="col-12 ">
    <p-table
      [columns]="colsDossier"
      [value]="listPieceJustificatif"
      #dt1
      dataKey="id"
      [rows]="5"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Page {currentPage} sur {totalPages}"
      [paginator]="true"
      styleClass="p-datatable-gridlines p-datatable-striped"
      responsiveLayout="scroll"
      [rowHover]="true"
      [rowsPerPageOptions]="[5, 10]"
      tableStyleClass="p-datatable-gridlines"
    >
<!--     Table  Header    -->
      <ng-template let-columns pTemplate="header">
        <tr>
          @for (col of columns; track col.field) {
            <th
              style="min-width: 15rem"
              [pSortableColumn]="col.field"
              class="font-weight-bold"
            >
              {{ col.header }}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          }
          <th>Actions</th>
        </tr>
      </ng-template>

<!--      Table body  -->
      <ng-template pTemplate="body" let-piece>
        <tr>
          <td>{{ piece }}</td>
          <td>
            <!--          Bouton pour supprimer un element de la liste -->
            <button
              pButton
              type="button"
              label="Retirer"
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger mx-2"
              iconPos="left"
              (click)="removePiece(piece)"
            ></button>
          </td>
        </tr>
      </ng-template>
<!--      Table empty -->
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">Aucun élement.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<div class="flex justify-content-between gap-3 m-2">
<!--  Save Button-->
  <button
    pButton
    pRipple
    class="p-button-primary flex-1"
    label="Enregistrer"
    icon="pi pi-fw pi-check"
    (click)="save()"
  ></button>

<!--  Cancel Button -->
  <button
    pButton
    pRipple
    class="p-button-danger flex-1 p-button-outlined"
    label="Annuler"
    (click)="cancel()"
    icon="pi pi-fw pi-times"
  ></button>
</div>

<p-dialog header="Formulaire Upload" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }"(onHide)="OnHide()">
<!--  Piece Jointe -->
  <div class="border-1 surface-border border-round p-fluid mb-4">
      <span class="text-900 font-bold block border-bottom-1 surface-border p-3"
      >Pièces a joindre</span
      >
    <div class="p-fluid p-formgrid grid m-2">
      <div class="col-12 ">
        <div class="field">
<!--          Libelle de la piece  -->
          <div class="flex align-items-center flex-wrap gap-2 m-3">
            <label for="drenUpload" class="w-9rem">Libelle piece</label>
            <input

              id="drenUpload" type="text" pInputText placeholder="Libelle piece" />

          </div>
<!--          Upload image    -->
          <p-fileUpload
            #fileUpload
            (onUpload)="onUploadFile($event)"
            [customUpload]="true"
            (onSelect)="onUploadFile($event)"
            accept=".png,.jpg,.jpeg"
            [showUploadButton]="false"
            [showCancelButton]="false"
            [auto]="true"
            styleClass="border-1 surface-border surface-card p-0 border-round m-2"
          >
            <ng-template pTemplate="content">
              <div class="h-20rem m-1 border-round">
                @if(!image){
                  <div
                    class="flex flex-column w-full h-full justify-content-center align-items-center cursor-pointer"
                    (click)="fileUpload.advancedFileInput.nativeElement.click()"
                  >
                    <i class="pi pi-file-pdf text-8xl text-red-500"></i>
                    <span class="block font-semibold text-900 text-lg mt-3"
                    >Déposer ou sélectionner une image</span>

                  </div>
                } @if(image){
                <div class="w-full h-full relative border-round p-0">
                  <img
                    [src]="image.objectURL"
                    class="w-full h-full border-round"
                    alt="blog cover"
                  />

                  <button
                    pButton
                    pRipple
                    label="Retirer"
                    type="button"
                    icon="pi pi-times"
                    class="p-button-rounded p-button-primary text-sm absolute justify-content-center align-items-center"
                    style="top: -10px; right: -10px"
                    (click)="$event.stopPropagation(); removeFile()"
                  ></button>
                </div>
              }
              </div>
            </ng-template>
          </p-fileUpload>
        </div>
<!--        Button ajout fichier si inexistant-->
        <button
          pButton=""
          pRipple=""
          (click)="newUpload()"
          label="Ajouter"
          icon="pi pi-plus"
          class="p-element p-ripple p-button-outlined p-button-primary p-button p-component"
        ></button>
      </div>
    </div>
  </div>

</p-dialog>
