<!-- Toast notification part start-->
<p-toast [life]="3000"></p-toast>

<!-- Toolbar start pour afficher les boutons des differentes actions realisable dans la gestion du personnels-->
<p-card styleClass="mb-5">
  <p-toolbar>
    <ng-template pTemplate="right">
      <div class="my-2">
        <!--        Button d'ajout d'un personnel-->
        <button
          pButton
          pRipple
          label="Ajouter"
          icon="pi pi-plus"
          class="p-element p-ripple p-button-outlined p-button-primary p-button p-component mr-2"
          (click)="openNew()"
        ></button>
      </div>
    </ng-template>
    <ng-template pTemplate="left">
      <div class="my-2">
        <h4>Fiche personnel</h4>
      </div>
    </ng-template>
  </p-toolbar>
</p-card>

<!-- Tableau d'affichage de la liste du personnel-->
<p-card>
  <p-table
    [columns]="cols"
    [value]="listPersonnel$"
    #dt1
    dataKey="id"
    [rows]="5"
    [loading]="loading"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Page {currentPage} sur {totalPages}"
    [paginator]="true"
    styleClass="p-datatable-gridlines p-datatable-striped"
    responsiveLayout="scroll"
    [rowHover]="true"
    [rowsPerPageOptions]="[5,10, 20, 50]"
    tableStyleClass="p-datatable-gridlines"
    [globalFilterFields]="['nni','matricule','nometprenom','nometprenomarab','tlphone','ministereorigine','Typeeducation']"
  >
    <ng-template pTemplate="caption">
      <div class="flex justify-content-between flex-column sm:flex-row">
              <span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
                     placeholder="Recherche..." class="w-full"/>
						</span>
      </div>
    </ng-template>
    <ng-template let-columns pTemplate="header">
      <tr>
        @for (col of columns; track col.field) {
          <th
            [pSortableColumn]="col.field"
            class="font-weight-bold "
          >
            {{ col.header }}
            @if(col.header != 'Photo'){
              <p-sortIcon [field]="col.field"></p-sortIcon>
            }
          </th>
        }
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-personnel>
      <tr class="align-items-center align-content-center">
        <td style=" min-width: 6rem;">
          @if (personnel.photo) {
            <img src="{{personnel.photo}}" alt="{{personnel.nometprenom}}"
                 class="w-4rem h-4rem border-circle shadow-4">
          } @else {
            <img src="assets/demo/images/avatar/user-avatar.png" alt="user.name"
                 class="w-4rem h-4rem border-circle shadow-4">
          }
        </td>
        <td style="min-width: 15rem;">
          @if (personnel.nni) {
            {{ personnel.nni }}
          } @else {
            -
          }
        </td>
        <td
          style="min-width: 15rem">
          @if (personnel.matricule) {
            {{ personnel.matricule }}
          } @else {
            -
          }
        </td>
        <td
          style="min-width: 15rem">
          @if (personnel.nometprenom) {
            {{ personnel.nometprenom  | uppercase }}
          } @else {
            -
          }
        </td>
        <td
          style="min-width: 15rem">
          @if (personnel.nometprenomarab) {
            {{ personnel.nometprenomarab  | uppercase }}
          } @else {
            -
          }
        </td>
        <td
          style="min-width: 15rem">
          @if (personnel.tlphone) {
            {{ personnel.tlphone }}
          } @else {
            -
          }
        </td>
        <td
          style="min-width: 15rem">
          @if (personnel.adressemp) {
            {{ personnel.adressemp  | uppercase }}
          } @else {
            -
          }
        </td>
        <td
          style="min-width: 15rem">
          @if (personnel.dtenaiss) {
            {{ personnel.dtenaiss | date: 'dd/MM/yyyy' }}
          } @else {
            -
          }
        </td>
        <td
          style="min-width: 15rem">
          @if (personnel.lieunaiss) {
            {{ personnel.lieunaiss  | uppercase }}
          } @else {
            -
          }
        </td>
        <td
          style="min-width: 15rem">

          @if (personnel.dterecrutemnt) {
            {{ personnel.dterecrutemnt | date: 'dd/MM/yyyy' }}
          } @else {
            -
          }</td>
        <td
          style="min-width: 15rem">
          @if (personnel.dtetitularisation) {
            {{ personnel.dtetitularisation | date: 'dd/MM/yyyy' }}
          } @else {
            -
          }
        </td>
        <td
          style="min-width: 15rem">
          @if (personnel.debutcntrat) {
            {{ personnel.debutcntrat | date: 'dd/MM/yyyy' }}
          } @else {
            -
          }
        </td>
        <td
          style="min-width: 15rem">
          @if (personnel.fincntrat) {
            {{ personnel.fincntrat | date: 'dd/MM/yyyy' }}
          } @else {
            -
          }
        </td>
        <td
          style="min-width: 15rem">
          @if (personnel.bank) {
            {{ personnel.bank }}
          } @else {
            -
          }
        </td>
        <td
          style="min-width: 15rem">
          @if (personnel.codbank) {
            {{ personnel.codbank }}
          } @else {
            -
          }
        </td>
        <td
          style="min-width: 15rem">
          @if (personnel.numrocpte) {
            {{ personnel.numrocpte }}
          } @else {
            -

          }
        </td>
        <td
          style="min-width: 15rem">
          @if (personnel.dtedepart) {
            {{ personnel.dtedepart | date: 'dd/MM/yyyy' }}
          } @else {
            -
          }
        </td>
        <td
          style="min-width: 15rem">
          @if (personnel.detacher) {
            {{ personnel.detacher }}
          } @else {
            -
          }
        </td>
        <td
          style="min-width: 15rem">
          @if (personnel.ministereorigine) {
            {{ personnel.ministereorigine }}
          } @else {
            -
          }
        </td>
        <td
          style="min-width: 15rem">
          @if (personnel.Typeeducation) {
            {{ personnel.Typeeducation  | uppercase }}
          } @else {
            -
          }
        </td>
        <td
          style="min-width: 15rem">
          @if (personnel.actifornot) {
            <p-tag
              [value]="personnel.actifornot"
              [severity]="getStatusSeverity(personnel.actifornot)"
            >
            </p-tag>
          } @else {
            -
          }
        </td>
        <td
          style="min-width: 15rem">
          @if (personnel.statusemp) {
            {{ personnel.statusemp }}
          } @else {
            -
          }
        </td>
        <td>
          <!--          Bouton qui fait l'ouverture du formulaire de modification -->
          <button
            pButton
            type="button"
            pTooltip="Modifier"
            tooltipPosition="top"
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-primary mx-2"
            iconPos="left"
            (click)="viewEditPersonnel(personnel)"
          ></button>
        </td>
        <td>
          <!--          Bouton qui affiche la vue details du personnel -->
          <button
            pButton
            type="button"
            pTooltip="Dossier"
            tooltipPosition="top"
            pRipple
            icon="pi pi-info"
            class="p-button-rounded p-button-warning mx-2"
            iconPos="left"
            routerLink="/personnel-details/{{ personnel.id }}"
          ></button>
        </td>
        <td>
          <!--          Button qui supprime un personnel A verifier si la possibilite doit etre donner-->
          <button
            pButton
            type="button"
            pTooltip="Supprimer"
            tooltipPosition="top"
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger mx-2"
            iconPos="left"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">Aucun personnel trouvé(e).</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<!-- Formulaire d'ajout et de modification d'un personnel-->
<p-dialog
  header="Formulaire du personnel"
  [(visible)]="formDialog"
  (onHide)="close()"
  [style]="{ width: '60vw' }"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  class="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="container py-5">
      <form [formGroup]="personnelForm">
        <div class="col-12">
          <div class="card">
            <!--          Informations personnels de l'agent-->
            <h5>Informations personnels</h5>
            <div class="p-fluid p-formgrid grid">
              <div class="field col-12 md:col-6">
                <label for="nometprenom" class="font-medium text-900">Nom et Prenom</label>
                <input id="nometprenom" pInputText class="w-full p-component p-element form-control mb-1" type="text"
                       formControlName="nometprenom"/>
                <mrt-form-validators
                  [entityField]="'nometprenom'"
                  [formGroup]="personnelForm"
                />
              </div>
              <div class="field col-12 md:col-6">
                <label for="nometprenomarab" class="font-medium text-900">Nom et Prenom Arab</label>
                <input id="nometprenomarab" pInputText class="w-full p-component p-element form-control mb-1" type="text"
                       formControlName="nometprenomarab"/>
                <mrt-form-validators
                  [entityField]="'nometprenomarab'"
                  [formGroup]="personnelForm"
                />
              </div>
              <div class="field col-12 md:col-4">
                <label for="tlphone"  class="font-medium text-900">Numero de telephone</label>
                <input id="tlphone" pInputText class="w-full p-component p-element form-control mb-1" type="text"
                       formControlName="tlphone"/>
                <mrt-form-validators
                  [entityField]="'tlphone'"
                  [formGroup]="personnelForm"/>
              </div>
              <div class="field col-12 md:col-4">
                <label for="dtenaiss" class="font-medium text-900">Date de naissance</label>
                <p-calendar
                  id="dtenaiss"
                  [dateFormat]="'yy-mm-dd'"
                  placeholder="Entre la date(yyyy-mm-dd)"
                  formControlName="dtenaiss"
                  styleClass="mb-1"
                />
                <mrt-form-validators
                  [entityField]="'dtenaiss'"
                  [formGroup]="personnelForm"/>
              </div>
              <div class="field col-12 md:col-4">
                <label for="lieunaiss" class="font-medium text-900">Lieu de naissance</label>
                <input id="lieunaiss" pInputText class="w-full p-component p-element form-control mb-1" type="text"
                       formControlName="lieunaiss"/>
                <mrt-form-validators
                  [entityField]="'lieunaiss'"
                  [formGroup]="personnelForm"/>
              </div>
              <div class="field col-12 md:col-12">
                <label for="adressemp" class="font-medium text-900">Adresse de l'agent</label>
                <input id="adressemp" pInputText class="w-full p-component p-element form-control mb-1" type="text"
                       formControlName="adressemp"/>
                <mrt-form-validators
                  [entityField]="'adressemp'"
                  [formGroup]="personnelForm"
                />
              </div>
            </div>
            <p-divider></p-divider>
            <!--          Information relatif a l'emploi-->
            <h5>Informations relatif au metier</h5>
            <div class="p-fluid p-formgrid grid">
              <div class="field col-12 md:col-6">
                <label for="matricule" class="font-medium text-900">Matricule</label>
                <input pInputText id="matricule"
                       class="w-full p-component p-element form-control mb-1" type="text"
                       formControlName="matricule"/>
                <mrt-form-validators
                  [entityField]="'matricule'"
                  [formGroup]="personnelForm"
                />
              </div>
              <div class="field col-12 md:col-6">
                <label for="nni" class="font-medium text-900">NNI</label>
                <input pInputText id="nni" class="w-full p-component p-element form-control mb-1"
                       type="text"
                       formControlName="nni"/>
                <mrt-form-validators
                  [entityField]="'nni'"
                  [formGroup]="personnelForm"
                />
              </div>
              <div class="field col-12 md:col-6">
                <label for="dterecrutemnt" class="font-medium text-900">Date recrutement</label>
                <p-calendar
                  id="dterecrutemnt"
                  [dateFormat]="'yy-mm-dd'"
                  placeholder="Entre la date(yyyy-mm-dd)"
                  styleClass="mb-1"
                  formControlName="dterecrutemnt"
                />
                <mrt-form-validators
                  [entityField]="'dterecrutemnt'"
                  [formGroup]="personnelForm"
                />
              </div>
              <div class="field col-12 md:col-6">
                <label for="dtetitularisation" class="font-medium text-900">Date titularisation</label>
                <p-calendar
                  id="dtetitularisation"
                  [dateFormat]="'yy-mm-dd'"
                  placeholder="Entre la date(yyyy-mm-dd)"
                  styleClass="mb-1"
                  formControlName="dtetitularisation"
                />
                <mrt-form-validators
                  [entityField]="'dtetitularisation'"
                  [formGroup]="personnelForm"/>
              </div>
              <div class="field col-12 md:col-6">
                <label for="debutcntrat" class="font-medium text-900">Date debut contract</label>
                <p-calendar
                  id="debutcntrat"
                  [dateFormat]="'yy-mm-dd'"
                  placeholder="Entre la date(yyyy-mm-dd)"
                  styleClass="mb-1"
                  formControlName="debutcntrat"
                />
                <mrt-form-validators
                  [entityField]="'debutcntrat'"
                  [formGroup]="personnelForm"/>
              </div>
              <div class="field col-12 md:col-6">
                <label for="fincntrat" class="font-medium text-900">Date fin contract</label>
                <p-calendar
                  id="fincntrat"
                  [dateFormat]="'yy-mm-dd'"
                  placeholder="Entre la date(yyyy-mm-dd)"
                  styleClass="mb-1"
                  formControlName="fincntrat"
                />
                <mrt-form-validators
                  [entityField]="'fincntrat'"
                  [formGroup]="personnelForm"/>
              </div>
              <div class="field col-12 md:col-6">
                <label for="dtedepart" class="font-medium text-900">Date de depart</label>
                <p-calendar
                  id="dtedepart"
                  [dateFormat]="'yy-mm-dd'"
                  placeholder="Entre la date(yyyy-mm-dd)"
                  styleClass="mb-1"
                  formControlName="dtedepart"
                />
                <mrt-form-validators
                  [entityField]="'dtedepart'"
                  [formGroup]="personnelForm"/>
              </div>
              <div class="field col-12 md:col-6">
                <label for="avatar" class="font-medium text-900">Avatar</label>
                <p-fileUpload
                  mode="basic"
                  id="avatar"
                  url="./upload.php"
                  accept="image/*"
                  [maxFileSize]="1000000"
                  styleClass="p-button-outlined p-button-plain w-full"
                  chooseLabel="Choisir une Image"></p-fileUpload>
              </div>
            </div>

          </div>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple
            class="p-button-primary flex-1"
            label="Enregistrer"
            icon="pi pi-fw pi-check"
            (click)="savePersonnel()"
    >

    </button>
    <button pButton pRipple class="p-button-danger flex-1 p-button-outlined" label="Annuler"
            icon="pi pi-fw pi-times" (click)="cancel()"></button>
  </ng-template>
</p-dialog>
