<p-toast
  [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'1000ms'"
  [showTransformOptions]="'translateX(100%)'"
/>

<p-confirmDialog #cd appendTo="body">
  <ng-template pTemplate="headless" let-message>
    <div
      class="flex flex-column align-items-center p-5 surface-overlay border-round"
    >
      <div
        class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem"
      >
        <i class="pi pi-question text-5xl"></i>
      </div>
      <span class="font-bold text-2xl block mb-2 mt-4">
        {{ message.header }}
      </span>
      <p class="mb-0">{{ message.message }}</p>
      <div class="flex align-items-center gap-2 mt-4">
        <button
          pButton
          label="Oui"
          (click)="cd.accept()"
          class="w-8rem"
        ></button>
        <button
          pButton
          label="Non"
          (click)="cd.reject()"
          class="p-button-outlined p-button-danger w-8rem"
        ></button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>

<div>
  <!--  <span class="text-900 font-bold block border-bottom-1 surface-border p-3">Formulaire de nécessité par service.</span>-->
  <div class="container">
    <div class="border-1 surface-border border-round p-fluid mb-2">
      <span class="text-900 font-bold block border-bottom-1 surface-border p-3"
        >Formulaire de demande</span
      >
      <div class="p-fluid p-formgrid grid m-2">
        <div class="col-12 lg:col-5">
          <div class="field">
            <label class="font-medium text-900">Poste demandé</label>
            <p-dropdown
              id="post"
              [options]="corps"
              [(ngModel)]="poste"
              [ngModelOptions]="{ standalone: true }"
              placeholder="Selectionner le poste"
            />
          </div>
          <div class="field col-12">
            <label for="nbr">Nombre de personne demandées</label>
            <input
              id="nbr"
              type="number"
              pInputText
              [(ngModel)]="postedem"
              [ngModelOptions]="{ standalone: true }"
              placeholder="Entrer le nombre de personne demandées"
            />
          </div>
          <button
            pButton=""
            pRipple=""
            (click)="ajouterForm()"
            label="Ajouter"
            icon="pi pi-plus"
            class="p-element p-ripple p-button-outlined p-button-primary p-button p-component"
          ></button>
        </div>

        <!--        Liste dans la tale-->
        <div class="col-12 lg:col-7">
          <p-table
            [columns]="colsForm"
            [value]="listPost"
            #dt1
            dataKey="id"
            [rows]="5"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Page {currentPage} sur {totalPages}"
            [paginator]="true"
            styleClass="p-datatable-gridlines p-datatable-striped"
            responsiveLayout="scroll"
            [rowHover]="true"
            [rowsPerPageOptions]="[5, 10]"
            tableStyleClass="p-datatable-gridlines"
          >
            <ng-template let-columns pTemplate="header">
              <tr>
                @for (col of columns; track col.field) {
                <th
                  style="min-width: 15rem"
                  [pSortableColumn]="col.field"
                  class="font-weight-bold"
                >
                  {{ col.header }}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                }
                <th>Actions</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-piece>
              <tr>
                <td>{{ piece.PosteDemander }}</td>
                <td>{{ piece.NombreDepost }}</td>

                <!--          Bouton pour supprimer un element de la liste -->
                <button
                  pButton
                  type="button"
                  pTooltip="Retirer"
                  tooltipPosition="top"
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger mx-2"
                  iconPos="left"
                  (click)="removeFormulaire(piece)"
                ></button>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="8">Aucun élement.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>

    <!--    Partie de la piece justificatif-->
    <!-- selection image-->
    <div class="border-1 surface-border border-round p-fluid mb-4">
      <span class="text-900 font-bold block border-bottom-1 surface-border p-3"
        >Pièces justificatives</span
      >
      <div class="p-fluid p-formgrid grid m-2">
        <div class="col-12 lg:col-5">
          <div class="field">
            <label class="font-medium text-900">Libellé de la Pièce</label>
            <p-dropdown
              id="libelle"
              [options]="listeLibellePiece"
              [(ngModel)]="pieceLibelle"
              [ngModelOptions]="{ standalone: true }"
              placeholder="Selectionner le libelle de la piece"
            />

            <p-fileUpload
              #fileUpload
              (onUpload)="onUploadFile($event)"
              [customUpload]="true"
              (onSelect)="onUploadFile($event)"
              accept=".png,.jpg"
              [showUploadButton]="false"
              [showCancelButton]="false"
              [auto]="true"
              styleClass="border-1 surface-border surface-card p-0 border-round m-2"
            >
              <ng-template pTemplate="content">
                <div class="h-20rem m-1 border-round">
                  @if(!image){
                  <div
                    class="flex flex-column w-full h-full justify-content-center align-items-center cursor-pointer"
                    (click)="fileUpload.advancedFileInput.nativeElement.click()"
                  >
                    <i class="pi pi-fw pi-file text-4xl text-primary"></i>
                    <span class="block font-semibold text-900 text-lg mt-3"
                      >Déposer ou sélectionner une image</span
                    >
                  </div>
                  } @if(image){
                  <div class="w-full h-full relative border-round p-0">
                    <img
                      [src]="image.objectURL"
                      class="w-full h-full border-round"
                      alt="blog cover"
                    />
                    <button
                      pButton
                      pRipple
                      type="button"
                      icon="pi pi-times"
                      class="p-button-rounded p-button-primary text-sm absolute justify-content-center align-items-center"
                      style="top: -10px; right: -10px"
                      (click)="$event.stopPropagation(); removeFile()"
                    ></button>
                  </div>
                  }
                </div>
              </ng-template>
            </p-fileUpload>
          </div>
          <button
            pButton=""
            pRipple=""
            (click)="ajouter()"
            label="Ajouter"
            icon="pi pi-plus"
            class="p-element p-ripple p-button-outlined p-button-primary p-button p-component"
          ></button>
        </div>
        <div class="col-12 lg:col-7">
          <p-table
            [columns]="colsDossier"
            [value]="listPieceJustificatif"
            #dt1
            dataKey="id"
            [rows]="5"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Page {currentPage} sur {totalPages}"
            [paginator]="true"
            styleClass="p-datatable-gridlines p-datatable-striped"
            responsiveLayout="scroll"
            [rowHover]="true"
            [rowsPerPageOptions]="[5, 10]"
            tableStyleClass="p-datatable-gridlines"
          >
            <ng-template let-columns pTemplate="header">
              <tr>
                @for (col of columns; track col.field) {
                <th
                  style="min-width: 15rem"
                  [pSortableColumn]="col.field"
                  class="font-weight-bold"
                >
                  {{ col.header }}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                }
                <th>Actions</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-piece>
              <tr>
                <td>{{ piece.libelle }}</td>
                <td>
                  <div
                    class="flex flex-column w-2 justify-content-between"
                    style="row-gap: 1rem"
                  ></div>
                  <img
                    [src]="piece.images.objectURL"
                    alt=""
                    class="w-10rem shadow-4"
                  />
                </td>
                <td>
                  <!--          Bouton pour supprimer un element de la liste -->
                  <button
                    pButton
                    type="button"
                    pTooltip="Retirer"
                    tooltipPosition="top"
                    pRipple
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-danger mx-2"
                    iconPos="left"
                    (click)="removePiece(piece)"
                  ></button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="8">Aucun élement.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-content-between gap-3">
  <button
    pButton
    pRipple
    class="p-button-primary flex-1"
    label="Enregistrer"
    icon="pi pi-fw pi-check"
  ></button>
  <button
    pButton
    pRipple
    class="p-button-danger flex-1 p-button-outlined"
    label="Annuler"
    icon="pi pi-fw pi-times"
  ></button>
</div>
