<!--<button pButton=""-->
<!--        pRipple=""-->
<!--        label="Affectation"-->
<!--        icon="pi pi-plus"-->
<!--        class="p-element p-ripple p-button-outlined p-button-primary p-button p-component m-3"-->
<!--        (click)="showMobiliteForm()"-->
<!--&gt;-->
<!--</button>-->

<div class="grid">
  <div class="container py-5">
    <form >
             <span class="text-sm">
                Champs obligatoires:
                <span class="text-red-500">*</span>
              </span>

      <div class="border-1 surface-border border-round p-fluid mb-4">
        <span class="text-900 font-bold block border-bottom-1 surface-border p-3">Information relative à l'agent</span>

      <div class="p-fluid p-formgrid grid m-2">
        <!--Matricule-->
        <div class="field col-12 md:col-3">
          <label for="matriculeMobilite">Matricule</label>
          <input
            type="text"
            pInputText
            id="matriculeMobilite"
            required
            disabled/>
        </div>

        <!-- Statuts d'employe -->
        <div class="field col-12 md:col-3">
          <label for="statutsEmploye">Statuts d'employe</label>
          <input
            type="text"
            pInputText
            id="statutsEmploye"
            required
            disabled/>
        </div>

        <!-- Duree au poste -->
        <div class="field col-12 md:col-3">
          <label for="dureePoste">Durée au poste</label>
          <input
            type="text"
            pInputText
            id="dureePoste"
            required
            disabled/>
        </div>

        <!--Nom Prenom-->
        <div class="field col-12 md:col-3">
          <label for="fullNameMobilite">Nom Prénom</label>
          <input
            type="text"
            pInputText
            id="fullNameMobilite"
            required
            disabled/>
        </div>
        </div>
      </div>

      <div class="border-1 surface-border border-round p-fluid mb-4">
        <span class="text-900 font-bold block border-bottom-1 surface-border p-3">Critères</span>
        <div class="p-fluid p-formgrid grid m-2">
        <!--Sexe-->
        <div class="field col-12 md:col-4">
          <label for="sexe">Sexe</label>
          <p-dropdown
            [options]="sexeOptions"
            id="sexe"
            placeholder="Selectionner le sexe"
          >
          </p-dropdown>
        </div>
        <!-- Nombre d'enfant -->
        <div class="field col-12 md:col-4">
          <label for="nbrEnfants">Nombre d'enfants</label>
          <input
            type="number"
            pInputText
            id="nbrEnfants"
            required
          />
        </div>
        <!-- Ancienneté générale -->
        <div class="field col-12 md:col-4">
          <label for="AnciennetéGenerale">Ancienneté générale</label>
          <input
            type="number"
            pInputText
            id="AnciennetéGenerale"
            required
          />
        </div>
        <!-- Ancienneté poste -->
        <div class="field col-12 md:col-4">
          <label for="ancienetePost">Ancienneté poste</label>
          <input
            type="number"
            pInputText
            id="ancienetePost"
            required
          />
        </div>
        <!-- Situation matrimoniale -->
        <div class="field col-12 md:col-4">
          <label for="situationMatrimonial">Situation matrimoniale</label>
          <p-toggleButton
            [(ngModel)]="situationMatrimonial"
            [ngModelOptions]="{standalone: true}"
            id="situationMatrimonial"
            onLabel="Marié(e)"
            offLabel="Célibataire" />
        </div>
        <!-- Note administrative ou pédagogique -->
        <div class="field col-12 md:col-4">
          <label for="notePedagogiq">Note administrative ou pédagogique</label>
          <input
            type="number"
            pInputText
            id="notePedagogiq"
            required
          />
        </div>
        <!-- Situation sanitaire -->
        <div class="field col-12 md:col-4">
          <label for="situationSanitaire">Situation sanitaire</label>
          <input
            type="number"
            pInputText
            id="situationSanitaire"
            required
          />
        </div>
        <!-- Moughataa -->
        <div class="field col-12 md:col-4">
          <label for="moughataa">Moughataa </label>
          <input
            type="text"
            pInputText
            id="moughataa"
            required
          />
        </div>
          <!--        date effet -->
          <div class="field col-12 md:col-4">
            <label for="dateeffet"> Date Effet </label>
            <p-calendar
              [dateFormat]="'yy-mm-dd'"
              id="dateeffet"
              [readonlyInput]="true"
              styleClass="mb-1"
            />
          </div>
        <!--        Localite-->
        <div class="field col-12 md:col-6">
          <label for="localite">Localite </label>
          <p-multiSelect
            id="localite"
            [options]="listLocalite$"
            optionLabel="libLocalite"
            [filter]="true"
            optionValue="libLocalite"
            filterBy="libLocalite"
            placeholder="Selectionner 03 localites"
            display="chip"
            [showClear]="true" />
        </div>
        <!--        dren -->
        <div class="field col-12 md:col-6">
          <label for="dren">DREN </label>
          <p-dropdown
            id="dren"
            placeholder="Selectionner le dren"
          >
          </p-dropdown>
        </div>
      </div>
      </div>

      <div class="border-1 surface-border border-round p-fluid mb-4">
        <span class="text-900 font-bold block border-bottom-1 surface-border p-3">Pièces justificatives</span>
      <div class="p-fluid p-formgrid grid m-2">
        <!--              Certificat de prise de service  -->
        <div class="field col-12 md:col-4">
          <label class="font-medium text-900">Certificat de prise de service</label>
          <p-fileUpload #fileUploaderCertificatPriseService (onUpload)="onUploadCertificatPriseService($event)" [customUpload]="true" (onSelect)="onUploadCertificatPriseService($event)" accept=".png,.jpg"  [showUploadButton]="false" [showCancelButton]="false" [auto]="true" styleClass="border-1 surface-border surface-card p-0 border-round mb-4">
            <ng-template pTemplate="content">
              <div class="h-20rem m-1 border-round">
                @if(!imageCertificatPriseService){
                  <div class="flex flex-column w-full h-full justify-content-center align-items-center cursor-pointer" (click)="fileUploaderCertificatPriseService.advancedFileInput.nativeElement.click()">
                    <i class="pi pi-fw pi-file text-4xl text-primary"></i>
                    <span class="block font-semibold text-900 text-lg mt-3">Déposer ou sélectionner une image</span>
                  </div>
                }
                @if(imageCertificatPriseService){
                  <div class="w-full h-full relative border-round p-0">
                    <img [src]="imageCertificatPriseService.objectURL" class="w-full h-full border-round" alt="blog cover">
                    <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-primary text-sm absolute justify-content-center align-items-center" style="top: -10px; right: -10px;" (click)="$event.stopPropagation(); removeImageCertificatPriseService()"></button>
                  </div>
                }
              </div>
            </ng-template>
          </p-fileUpload>
        </div>

        <!--              Demande  -->
        <div class="field col-12 md:col-4">
          <label class="font-medium text-900">Demande d'affectation</label>
          <p-fileUpload #fileUploader (onUpload)="onUploadDemande($event)" [customUpload]="true" (onSelect)="onUploadDemande($event)" accept=".png,.jpg"  [showUploadButton]="false" [showCancelButton]="false" [auto]="true" styleClass="border-1 surface-border surface-card p-0 border-round mb-4">
            <ng-template pTemplate="content">
              <div class="h-20rem m-1 border-round">
                @if(!imageDemande){
                  <div class="flex flex-column w-full h-full justify-content-center align-items-center cursor-pointer" (click)="fileUploader.advancedFileInput.nativeElement.click()">
                    <i class="pi pi-fw pi-file text-4xl text-primary"></i>
                    <span class="block font-semibold text-900 text-lg mt-3">Déposer ou sélectionner une image</span>
                  </div>
                }
                @if(imageDemande){
                  <div class="w-full h-full relative border-round p-0">
                    <img [src]="imageDemande.objectURL" class="w-full h-full border-round" alt="blog cover">
                    <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-primary text-sm absolute justify-content-center align-items-center" style="top: -10px; right: -10px;" (click)="$event.stopPropagation(); removeImageDemande()"></button>
                  </div>
                }
              </div>
            </ng-template>
          </p-fileUpload>
        </div>

        <!--              Document d'integration ou recrutement  -->
        <div class="field col-12 md:col-4">
          <label class="font-medium text-900">Intégration ou de recrutement</label>
          <p-fileUpload #fileUploaderDocumentIntegrationRecrutement (onUpload)="onUploadDocumentIntegrationRecrutement($event)" [customUpload]="true" (onSelect)="onUploadDocumentIntegrationRecrutement($event)" accept=".png,.jpg"  [showUploadButton]="false" [showCancelButton]="false" [auto]="true" styleClass="border-1 surface-border surface-card p-0 border-round mb-4">
            <ng-template pTemplate="content">
              <div class="h-20rem m-1 border-round">
                @if(!imageDocumentIntegrationRecrutement){
                  <div class="flex flex-column w-full h-full justify-content-center align-items-center cursor-pointer" (click)="fileUploaderDocumentIntegrationRecrutement.advancedFileInput.nativeElement.click()">
                    <i class="pi pi-fw pi-file text-4xl text-primary"></i>
                    <span class="block font-semibold text-900 text-lg mt-3">Déposer ou sélectionner une image</span>
                  </div>
                }
                @if(imageDocumentIntegrationRecrutement){
                  <div class="w-full h-full relative border-round p-0">
                    <img [src]="imageDocumentIntegrationRecrutement.objectURL" class="w-full h-full border-round" alt="blog cover">
                    <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-primary text-sm absolute justify-content-center align-items-center" style="top: -10px; right: -10px;" (click)="$event.stopPropagation(); removeImageDocumentIntegrationRecrutement()"></button>
                  </div>
                }
              </div>
            </ng-template>
          </p-fileUpload>
        </div>

<!--        Pièces justificatives de la situation matrimoniale  -->
        <div class="field col-12 md:col-4">
          <label class="font-medium text-900">Situation matrimoniale</label>
          <p-fileUpload #fileUploaderSituationMatrimonial (onUpload)="onUploaderSituationMatrimonial($event)" [customUpload]="true" (onSelect)="onUploaderSituationMatrimonial($event)" accept=".png,.jpg"  [showUploadButton]="false" [showCancelButton]="false" [auto]="true" styleClass="border-1 surface-border surface-card p-0 border-round mb-4">
            <ng-template pTemplate="content">
              <div class="h-20rem m-1 border-round">
                @if(!imageSituationMatrimonial){
                  <div class="flex flex-column w-full h-full justify-content-center align-items-center cursor-pointer" (click)="fileUploaderSituationMatrimonial.advancedFileInput.nativeElement.click()">
                    <i class="pi pi-fw pi-file text-4xl text-primary"></i>
                    <span class="block font-semibold text-900 text-lg mt-3">Déposer ou sélectionner une image</span>
                  </div>
                }
                @if(imageSituationMatrimonial){
                  <div class="w-full h-full relative border-round p-0">
                    <img [src]="imageSituationMatrimonial.objectURL" class="w-full h-full border-round" alt="blog cover">
                    <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-primary text-sm absolute justify-content-center align-items-center" style="top: -10px; right: -10px;" (click)="$event.stopPropagation(); removeImageSituationMatrimonial()"></button>
                  </div>
                }
              </div>
            </ng-template>
          </p-fileUpload>
        </div>

        <!--        Pièces justificatives de la situation  sanitaire   -->
        <div class="field col-12 md:col-4">
          <label class="font-medium text-900">Situation sanitaire</label>
          <p-fileUpload #fileUploaderSituationSanitaire (onUpload)="onUploaderSituationSanitaire($event)" [customUpload]="true" (onSelect)="onUploaderSituationSanitaire($event)" accept=".png,.jpg"  [showUploadButton]="false" [showCancelButton]="false" [auto]="true" styleClass="border-1 surface-border surface-card p-0 border-round mb-4">
            <ng-template pTemplate="content">
              <div class="h-20rem m-1 border-round">
                @if(!imageSituationSanitaire){
                  <div class="flex flex-column w-full h-full justify-content-center align-items-center cursor-pointer" (click)="fileUploaderSituationSanitaire.advancedFileInput.nativeElement.click()">
                    <i class="pi pi-fw pi-file text-4xl text-primary"></i>
                    <span class="block font-semibold text-900 text-lg mt-3">Déposer ou sélectionner une image</span>
                  </div>
                }
                @if(imageSituationSanitaire){
                  <div class="w-full h-full relative border-round p-0">
                    <img [src]="imageSituationSanitaire.objectURL" class="w-full h-full border-round" alt="blog cover">
                    <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-primary text-sm absolute justify-content-center align-items-center" style="top: -10px; right: -10px;" (click)="$event.stopPropagation(); removeImageSituationSanitaire()"></button>
                  </div>
                }
              </div>
            </ng-template>
          </p-fileUpload>
        </div>
      </div>
      </div>
    </form>
  </div>
  <div class="flex justify-content-between gap-3">
  <button pButton pRipple class="p-button-primary flex-1" label="Enregistrer" icon="pi pi-fw pi-check"></button>
  <button pButton pRipple class="p-button-danger flex-1 p-button-outlined" label="Annuler" (click)="cancelMobilite()" icon="pi pi-fw pi-times"></button>
  </div>
</div>

<!--  Formulaire Affectation -->
<!--<p-dialog-->
<!--  [(visible)]="showMobiliteDialog"-->
<!--  [style]="{ width: '60vw'}"-->
<!--  header="Affectation Formulaire"-->
<!--  (onHide)="cancelMobilite()"-->
<!--  [modal]="true"-->
<!--  [draggable]="false"-->
<!--  [resizable]="false"-->
<!--  styleClass="p-fluid"-->
<!--&gt;-->
<!--  <ng-template pTemplate="content">-->

<!--    <div class="container py-5">-->
<!--      <form >-->
<!--             <span class="text-sm">-->
<!--                Champs obligatoires:-->
<!--                <span class="text-red-500">*</span>-->
<!--              </span>-->

<!--        <div class="p-fluid p-formgrid grid mt-2">-->

<!--        &lt;!&ndash;Matricule&ndash;&gt;-->
<!--        <div class="field col-12 md:col-4">-->
<!--          <label for="matriculeMobilite">Matricule</label>-->
<!--          <input-->
<!--            type="text"-->
<!--            pInputText-->
<!--            id="matriculeMobilite"-->
<!--            required-->
<!--            disabled/>-->
<!--        </div>-->

<!--          &lt;!&ndash; Statuts d'employe &ndash;&gt;-->
<!--          <div class="field col-12 md:col-4">-->
<!--            <label for="statutsEmploye">Statuts d'employe</label>-->
<!--            <input-->
<!--              type="text"-->
<!--              pInputText-->
<!--              id="statutsEmploye"-->
<!--              required-->
<!--              disabled/>-->
<!--          </div>-->

<!--          &lt;!&ndash; Duree au poste &ndash;&gt;-->
<!--          <div class="field col-12 md:col-4">-->
<!--            <label for="dureePoste">Durée au poste</label>-->
<!--            <input-->
<!--              type="text"-->
<!--              pInputText-->
<!--              id="dureePoste"-->
<!--              required-->
<!--              disabled/>-->
<!--          </div>-->

<!--          &lt;!&ndash;Nom Prenom&ndash;&gt;-->
<!--          <div class="field col-12 md:col-4">-->
<!--            <label for="fullNameMobilite">Nom Prénom</label>-->
<!--            <input-->
<!--              type="text"-->
<!--              pInputText-->
<!--              id="fullNameMobilite"-->
<!--              required-->
<!--              disabled/>-->
<!--          </div>-->

<!--          &lt;!&ndash;Sexe&ndash;&gt;-->
<!--          <div class="field col-12 md:col-4">-->
<!--            <label for="sexe">Sexe</label>-->
<!--            <p-dropdown-->
<!--              [options]="sexeOptions"-->
<!--              id="sexe"-->
<!--              placeholder="Selectionner le sexe"-->
<!--            >-->
<!--            </p-dropdown>-->
<!--          </div>-->

<!--          &lt;!&ndash; Nombre d'enfant &ndash;&gt;-->
<!--          <div class="field col-12 md:col-4">-->
<!--            <label for="nbrEnfants">Nombre d'enfants</label>-->
<!--            <input-->
<!--              type="number"-->
<!--              pInputText-->
<!--              id="nbrEnfants"-->
<!--              required-->
<!--            />-->
<!--          </div>-->

<!--          &lt;!&ndash; Ancienneté générale &ndash;&gt;-->
<!--          <div class="field col-12 md:col-4">-->
<!--            <label for="AnciennetéGenerale">Ancienneté générale</label>-->
<!--            <input-->
<!--              type="number"-->
<!--              pInputText-->
<!--              id="AnciennetéGenerale"-->
<!--              required-->
<!--            />-->
<!--          </div>-->

<!--          &lt;!&ndash; Ancienneté poste &ndash;&gt;-->
<!--          <div class="field col-12 md:col-4">-->
<!--            <label for="ancienetePost">Ancienneté poste</label>-->
<!--            <input-->
<!--              type="number"-->
<!--              pInputText-->
<!--              id="ancienetePost"-->
<!--              required-->
<!--            />-->
<!--          </div>-->

<!--          &lt;!&ndash; Situation matrimoniale &ndash;&gt;-->
<!--          <div class="field col-12 md:col-4">-->
<!--            <label for="situationMatrimonial">Situation matrimoniale</label>-->
<!--            <p-toggleButton-->
<!--              [(ngModel)]="situationMatrimonial"-->
<!--              [ngModelOptions]="{standalone: true}"-->
<!--              id="situationMatrimonial"-->
<!--              onLabel="Marié(e)"-->
<!--              offLabel="Célibataire" />-->
<!--          </div>-->

<!--          &lt;!&ndash; Note administrative ou pédagogique &ndash;&gt;-->
<!--          <div class="field col-12 md:col-4">-->
<!--            <label for="notePedagogiq">Note administrative ou pédagogique</label>-->
<!--            <input-->
<!--              type="number"-->
<!--              pInputText-->
<!--              id="notePedagogiq"-->
<!--              required-->
<!--            />-->
<!--          </div>-->

<!--          &lt;!&ndash; Situation sanitaire &ndash;&gt;-->
<!--          <div class="field col-12 md:col-4">-->
<!--            <label for="situationSanitaire">Situation sanitaire</label>-->
<!--            <input-->
<!--              type="number"-->
<!--              pInputText-->
<!--              id="situationSanitaire"-->
<!--              required-->
<!--            />-->
<!--          </div>-->

<!--          &lt;!&ndash; Moughataa &ndash;&gt;-->
<!--          <div class="field col-12 md:col-4">-->
<!--            <label for="moughataa">Moughataa </label>-->
<!--            <input-->
<!--              type="text"-->
<!--              pInputText-->
<!--              id="moughataa"-->
<!--              required-->
<!--            />-->
<!--          </div>-->

<!--        &lt;!&ndash;        Localite&ndash;&gt;-->
<!--        <div class="field col-12 md:col-6">-->
<!--          <label for="localite">Localite </label>-->
<!--          <p-multiSelect-->
<!--            id="localite"-->
<!--            [options]="listLocalite$"-->
<!--            optionLabel="libLocalite"-->
<!--            [filter]="true"-->
<!--            optionValue="libLocalite"-->
<!--            filterBy="libLocalite"-->
<!--            placeholder="Selectionner 03 localites"-->
<!--            display="chip"-->
<!--            [showClear]="true" />-->
<!--        </div>-->

<!--        &lt;!&ndash;        dren &ndash;&gt;-->
<!--        <div class="field col-12 md:col-3">-->
<!--          <label for="dren">DREN </label>-->
<!--          <p-dropdown-->
<!--            id="dren"-->
<!--            placeholder="Selectionner le dren"-->
<!--          >-->
<!--          </p-dropdown>-->
<!--        </div>-->


<!--        &lt;!&ndash;        date effet &ndash;&gt;-->
<!--        <div class="field col-12 md:col-3">-->
<!--          <label for="dateeffet"> Date Effet </label>-->
<!--          <p-calendar-->
<!--            [dateFormat]="'yy-mm-dd'"-->
<!--            id="dateeffet"-->
<!--            [readonlyInput]="true"-->
<!--            styleClass="mb-1"-->
<!--          />-->
<!--        </div>-->

<!--          &lt;!&ndash;              Certificat de prise de service  &ndash;&gt;-->
<!--          <div class="field col-12">-->
<!--            <label class="font-medium text-900">Certificat de prise de service</label>-->
<!--            <p-fileUpload #fileUploader (onUpload)="onUpload($event)" [customUpload]="true" (onSelect)="onUpload($event)" accept="image/*"  [showUploadButton]="false" [showCancelButton]="false" [auto]="true" styleClass="border-1 surface-border surface-card p-0 border-round mb-4">-->
<!--              <ng-template pTemplate="content">-->
<!--                <div class="h-20rem m-1 border-round">-->
<!--                  @if(!image){-->
<!--                    <div class="flex flex-column w-full h-full justify-content-center align-items-center cursor-pointer" (click)="fileUploader.advancedFileInput.nativeElement.click()">-->
<!--                      <i class="pi pi-fw pi-file text-4xl text-primary"></i>-->
<!--                      <span class="block font-semibold text-900 text-lg mt-3">Déposer ou sélectionner une image</span>-->
<!--                    </div>-->
<!--                  }-->
<!--                  @if(image){-->
<!--                    <div class="w-full h-full relative border-round p-0">-->
<!--                      <img [src]="image.objectURL" class="w-full h-full border-round" alt="blog cover">-->
<!--                      <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-primary text-sm absolute justify-content-center align-items-center" style="top: -10px; right: -10px;" (click)="$event.stopPropagation(); removeImage()"></button>-->
<!--                    </div>-->
<!--                  }-->
<!--                </div>-->
<!--              </ng-template>-->
<!--            </p-fileUpload>-->
<!--          </div>-->

<!--          &lt;!&ndash;              Demande  &ndash;&gt;-->
<!--          <div class="field col-12">-->
<!--            <label class="font-medium text-900">Demande</label>-->
<!--            <p-fileUpload-->
<!--              (onUpload)="onUpload($event)"-->
<!--              accept="image/*"-->
<!--              [showUploadButton]="false"-->
<!--              maxFileSize="1000000">-->
<!--              <ng-template pTemplate="content">-->
<!--                @if(uploadedFiles.length){-->
<!--                  <ul>-->
<!--                    @for (file of uploadedFiles; track $index){-->
<!--                      <li>{{ file.name }} - {{ file.size }} bytes</li>-->
<!--                    }-->
<!--                  </ul>-->
<!--                }-->
<!--              </ng-template>-->
<!--            </p-fileUpload>-->

<!--          </div>-->

<!--          &lt;!&ndash;              Document d'integration ou recrutement  &ndash;&gt;-->
<!--          <div class="field col-12">-->
<!--            <label class="font-medium text-900">Document d'intégration ou de recrutement</label>-->
<!--            <p-fileUpload-->
<!--              (onUpload)="onUpload($event)"-->
<!--              accept="image/*"-->
<!--              [multiple]="false"-->
<!--              [showUploadButton]="false"-->
<!--              maxFileSize="1000000">-->
<!--              <ng-template pTemplate="content">-->
<!--                @if(uploadedFiles.length){-->
<!--                  <ul>-->
<!--                    @for (file of uploadedFiles; track $index){-->
<!--                      <li>{{ file.name }} - {{ file.size }} bytes</li>-->
<!--                    }-->
<!--                  </ul>-->
<!--                }-->
<!--              </ng-template>-->
<!--            </p-fileUpload>-->

<!--          </div>-->



<!--        </div>-->
<!--      </form>-->
<!--    </div>-->

<!--  </ng-template>-->

<!--  <ng-template pTemplate="footer">-->
<!--    <button pButton pRipple class="p-button-primary flex-1" label="Enregistrer" icon="pi pi-fw pi-check"></button>-->
<!--    <button pButton pRipple class="p-button-danger flex-1 p-button-outlined" label="Annuler" (click)="cancelMobilite()" icon="pi pi-fw pi-times"></button>-->
<!--  </ng-template>-->
<!--</p-dialog>-->
