<div>
  <button pButton=""
          pRipple=""
          label="Affectation"
          icon="pi pi-plus"
          class="p-element p-ripple p-button-outlined p-button-primary p-button p-component m-3"
          (click)="showForm()"
  >
  </button>
  <p-card>
    <p-table
      [columns]="cols"
      [value]="listAffections$"
      #dt1
      dataKey="id"
      [rows]="5"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Page {currentPage} sur {totalPages}"
      [paginator]="true"
      styleClass="p-datatable-gridlines p-datatable-striped"
      responsiveLayout="scroll"
      [rowHover]="true"
      [rowsPerPageOptions]="[5,10]"
      tableStyleClass="p-datatable-gridlines"
    >
      <ng-template let-columns pTemplate="header">
        <tr>
          @for (col of columns; track col.field) {
            <th
              style="min-width: 15rem"
              [pSortableColumn]="col.field"
              class="font-weight-bold"
            >
              {{ col.header }}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          }
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-mobilite>
        <tr>
          <td>{{mobilite.matricule}}</td>
          <td>{{mobilite.nomPrenom}}</td>
          <td>{{mobilite.nature}}</td>
          <td>{{mobilite.dren}}</td>
          <td>{{mobilite.localite}}</td>
          <td>{{mobilite.moughataa}}</td>
          <td>{{mobilite.ecole}}</td>
          <td>{{mobilite.notePedagogique}}</td>
          <td>{{mobilite.dateEffet |date}}</td>
          <td>
            <!--          Bouton qui fait la validation de l'avancement  -->
            <button
              pButton
              type="button"
              pTooltip="Valider"
              tooltipPosition="top"
              pRipple
              icon="pi pi-check-circle"
              class="p-button-rounded p-button-warning mx-2"
              iconPos="left"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">Aucun élement trouvé(e).</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>

<!--  Formulaire Affectation -->
<p-dialog
  [(visible)]="showDialog"
  [style]="{ width: '40vw'}"
  header="Dossier Formulaire"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
      <span class="text-sm">
                Champs obligatoires:
                <span class="text-red-500">*</span>
              </span>

    <div class="field mt-4">
      <label for="matricule">Matricule</label>
      <input
        type="text"
        pInputText
        id="matricule"
        required
        autofocus
        disabled/>
    </div>
    <div class="field">
      <label for="fullName">Nom Prenom</label>
      <input
        type="text"
        pInputText
        id="fullName"
        required
        autofocus
        disabled/>
    </div>
    <div class="field">
      <label for="raison">Nature</label>
      <p-dropdown
        [options]="nature"
        id="raison"
        placeholder="Selectionner la raison"
      >
      </p-dropdown>
    </div>
    <div class="field">
      <label>DREN</label>
      <input
        type="text"
        pInputText
        required
        autofocus
      />
    </div>
    <div class="field">
      <label >Localite</label>
      <p-dropdown
        placeholder="Selectionner la localite"
      >
      </p-dropdown>
    </div>
    <div class="field">
      <label>Moughataa</label>
      <input
        type="text"
        pInputText
        required
        autofocus
      />
    </div>
    <div class="field">
      <label>Ecole</label>
      <p-dropdown
        placeholder="Selectionner l'ecole"
      >
      </p-dropdown>
    </div>
    <div class="field">
      <label>Note pedagogique</label>
      <p-inputNumber
        mode="reel"
        [showButtons]="true"
        inputId="min-buttons"
        [min]="0"
        [useGrouping]="false"/>
    </div>
    <div class="field">
      <label> Date Effet</label>
      <p-calendar
        [dateFormat]="'yy-mm-dd'"
        [readonlyInput]="true"
        styleClass="mb-1"
      />
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple class="p-button-primary flex-1" label="Enregistrer" icon="pi pi-fw pi-check"></button>
    <button pButton pRipple class="p-button-danger flex-1 p-button-outlined" label="Annuler" icon="pi pi-fw pi-times"></button>
  </ng-template>
</p-dialog>
