<!--Toast -->
<p-toast
  [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'1000ms'"
  [showTransformOptions]="'translateX(100%)'"
/>

<!-- Confirmation -->
<p-confirmDialog #cd>
  <ng-template pTemplate="headless" let-message>
    <div
      class="flex flex-column align-items-center p-5 surface-overlay border-round"
    >
      <div
        class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem"
      >
        <i class="pi pi-question text-5xl"></i>
      </div>
      <span class="font-bold text-2xl block mb-2 mt-4">
        {{ message.header }}
      </span>
      <p class="mb-0">{{ message.message }}</p>
      <div class="flex align-items-center gap-2 mt-4">
        <button
          pButton
          label="Oui"
          (click)="cd.accept()"
          class="w-8rem"
        ></button>
        <button
          pButton
          label="Non"
          (click)="cd.reject()"
          class="p-button-outlined p-button-danger w-8rem"
        ></button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>

<p-card>
  <div class="container">
<!--    Page title -->
    <div class="text-900 font-bold text-3xl mb-4 mt-2">
      Avis Convenance Personnelle
    </div>

<!--    Table -->
    <p-table
      #dt
      [value]="tableDataDossierSortant"
      [columns]="colsDossierSortant"
      responsiveLayout="scroll"
      [globalFilterFields]="['nbrPoint', 'matricule', 'nomPrenom', 'nni']"
      [rows]="10"
      [paginator]="true"
      [rowsPerPageOptions]="[10, 20, 30]"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [(selection)]="selectedDossier"
      [rowHover]="true"
      dataKey="n"
    >

<!--      Global filter -->
      <ng-template pTemplate="caption">
        <div
          class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
        >
          <h5 class="m-0">Liste des demandes</h5>
          <span class="block mt-2 md:mt-0 p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="onGlobalFilter(dt, $event)"
              placeholder="Search..."
              class="w-full sm:w-auto"
            />
          </span>
        </div>
      </ng-template>

<!--      Table header part-->
      <ng-template let-columns pTemplate="header">
        <tr>
<!--          <th style="width: 3rem">-->
<!--            <p-tableHeaderCheckbox />-->
<!--          </th>-->
          @for (col of columns; track col.field) {
          <th
            style="min-width: 10rem"
            [pSortableColumn]="col.field"
            class="font-weight-bold"
          >
            {{ col.header }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          }
          <th></th>
          <th>Actions</th>
          <th></th>
        </tr>
      </ng-template>

<!--      Table body   -->
      <ng-template pTemplate="body" let-dossier>
        <tr>
<!--          <td>-->
<!--            <p-tableCheckbox [value]="dossier" />-->
<!--          </td>-->
          <td>{{ dossier.n }}</td>
          <td>{{ dossier.nbrPoint }}</td>
          <td>{{ dossier.Matricule }}</td>
          <td>{{ dossier.nomPrenom }}</td>
          <td>{{ dossier.nni }}</td>
          <td>{{ dossier.grade }}</td>
          <td>{{ dossier.option }}</td>
          <td>{{ dossier.lieu }}</td>
          <td>{{ dossier.position }}</td>
          <td>{{ dossier.ancieneteGenerale }}</td>
          <td>{{ dossier.anciennetePoste }}</td>
          <td>{{ dossier.noteAdministrative }}</td>
          <td>{{ dossier.notePedagogique }}</td>
          <td>{{ dossier.situationFamiliale }}</td>
          <td>{{ dossier.nbrEnfant }}</td>
          <td>{{ dossier.situationSanitaire }}</td>
          <td>{{ dossier.genre }}</td>
          <td>{{ dossier.choix1 }}</td>
          <td>{{ dossier.choix2 }}</td>
          <td>{{ dossier.choix3 }}</td>
          <td>{{ dossier.choix4 }}</td>
          <td>{{ dossier.choix5 }}</td>

<!--          Button pour visualiser la fiche de demande -->
          <td>
            <button
              pButton
              pRipple
              label="Visualiser"
              icon="pi pi-eye"
              class="p-button-info mr-2"
              (click)="visualiserDemandeConvenancePersonnelle(dossier)"
            ></button>
          </td>

<!--          Buttonn traitement avis favorable-->
          <td>
            <button
              pButton
              pRipple
              label="Favorable"
              icon="pi pi-check"
              class="p-button-success mr-2"
            ></button>
          </td>

<!--          Button traitement avis defavorable -->
          <td>
            <button
              pButton
              pRipple
              label="Défavorable"
              icon="pi pi-times"
              class="p-button-danger"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-card>

<p-dialog
  [modal]="true"
  [(visible)]="convenancePersonnelDialog"
  [style]="{ width: '70rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [maximizable]="true"
  (onHide)="onHideDialog()"
>
  <!--  Titre de la fiche-->
  <div class="flex flex-column align-items-center mb-6">
    <div class="text-900 text-2xl mb-4 font-medium">FICHE DE DEMANDE DE CONVENANCE PERSONNELLE</div>
  </div>
  <p-divider></p-divider>
  <!--  Information Personnel de l'agent -->
  <div class="flex flex-column align-items-center mb-2">
    <div class="text-900 text-xl mb-4 font-medium">Informations personnelles</div>
  </div>
  <div class="grid">
    <div class="col-12 lg:col-4">
      <ul class="list-none p-0 m-0 text-600 mb-2 text-600">
        <li class="mb-3">
            <span class="font-semibold">
              Année scolaire :
            </span>
          2024-2025
        </li>
        <li class="mb-3">
            <span class="font-semibold">
              Nom et Prénoms :
            </span>

        </li>
        <li class="mb-3">
            <span class="font-semibold">
              NNI :
            </span>

        </li>
        <li class="mb-3">
            <span class="font-semibold">
              Matricule :
            </span>

        </li>
        <li class="mb-3">
            <span class="font-semibold">
              Date de naissance :
            </span>
        </li>
      </ul>
    </div>
    <div class="col-12 lg:col-4">
      <ul class="list-none p-0 m-0 text-600 mb-2 text-600">
        <li class="mb-3"><span class="font-semibold">Echelon :</span> </li>
        <li class="mb-3"><span class="font-semibold">Sexe :</span> Masculin</li>
        <li class="mb-3"><span class="font-semibold">Diplôme professionnel :</span> </li>
        <li class="mb-3"><span class="font-semibold">Diplôme académique le plus élevé :</span> </li>
        <li class="mb-3"><span class="font-semibold">Lieu de naissance : </span> </li>
      </ul>
    </div>
    <div class="col-12 lg:col-4">
      <ul class="list-none p-0 m-0 text-600 mb-4 text-600">
        <li class="mb-3"><span class="font-semibold">Discipline enseignée :</span> </li>
        <li class="mb-3"><span class="font-semibold">Téléphone :</span> </li>
        <li class="mb-3"><span class="font-semibold">Email :</span> </li>
        <li class="mb-3">
          <span class="font-semibold">
            Corps/Grade :
          </span>
        </li>
        <li class="mb-3"><span class="font-semibold">Discipline d'origine :</span> </li>
      </ul>
    </div></div>
  <p-divider></p-divider>

  <!--  ZOne d'affectation demander-->
  <div class="flex flex-column align-items-center mb-2">
    <div class="text-900 text-xl mb-4 font-medium">Wilayas demandées (par ordre de préférence)</div>
  </div>
  <div class="col-12">
    <ul class="list-none p-0 m-0 text-600 mb-4 text-600">
      <li class="mb-3"><span class="font-semibold">Zone géographique de destination 1 :   </span>-------------</li>
      <li class="mb-3"><span class="font-semibold">Zone géographique de destination 2 :   </span>-------------</li>
      <li class="mb-3"><span class="font-semibold">Zone géographique de destination 3 :   </span>-------------</li>
      <li class="mb-3"><span class="font-semibold">Zone géographique de destination 4 :   </span>-------------</li>
      <li class="mb-3"><span class="font-semibold">Zone géographique de destination 5 :   </span>-------------</li>
    </ul>
  </div>
  <p-divider></p-divider>

  <!--  Critere(s) de la demande -->
  <div class="flex flex-column align-items-center mb-2">
    <div class="text-900 text-xl mb-4 font-medium">Critères d’affectation pour convenances personnelles des enseignants</div>
  </div>
  <div class="col-12">
    <div class="overflow-x-auto">
      <table class="w-full" style="border-collapse: collapse; table-layout: auto">
        <thead>
        <tr>
          <th class="text-left font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">Critères</th>
          <th class="text-right font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">Valeur</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap">Ancienneté dans la Fonction publique</td>
          <td class="text-right py-3 border-bottom-1 surface-border">--</td>
        </tr>
        <tr>
          <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap">Note d’inspection pédagogique</td>
          <td class="text-right py-3 border-bottom-1 surface-border">--</td>
        </tr>
        <tr>
          <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap">Note d’évaluation administrative</td>
          <td class="text-right py-3 border-bottom-1 surface-border">--</td>
        </tr>
        <tr>
          <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap">Ancienneté dans la wilaya</td>
          <td class="text-right py-3 border-bottom-1 surface-border">--</td>
        </tr>
        <tr>
          <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap">Distinction</td>
          <td class="text-right py-3 border-bottom-1 surface-border">--</td>
        </tr>
        <tr>
          <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap">Nombre d’enfants à charge</td>
          <td class="text-right py-3 border-bottom-1 surface-border">--</td>
        </tr>
        <tr>
          <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap">Zone géographique </td>
          <td class="text-right py-3 border-bottom-1 surface-border">--</td>
        </tr>
        <tr>
          <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap">Discrimination positive </td>
          <td class="text-right py-3 border-bottom-1 surface-border">--</td>
        </tr>
        <tr>
          <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap">Situation sanitaire</td>
          <td class="text-right py-3 border-bottom-1 surface-border">--</td>
        </tr>
        <tr>
          <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap">Regroupement de conjoints</td>
          <td class="text-right py-3 border-bottom-1 surface-border">--</td>
        </tr>
        <tr>
          <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap">Autres situations sociales</td>
          <td class="text-right py-3 border-bottom-1 surface-border">--</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!--  Piece jointe-->
  <p-accordion>
    <p-accordionTab header="Piece Jointe" [selected]="false" class="line-height-3 m-0">
      <div class="grid">
        <div class="col-12 md:col-6 xl:col-4">
          <div class="p-2 border-1 surface-border flex align-items-center justify-content-between hover:surface-100 cursor-pointer border-round">
            <div class="flex align-items-center">
              <i class="pi pi-file-pdf text-2xl mr-3"></i>
              <span class="text-900 text-lg font-medium">
                DevOps
              </span>
            </div>
            <!--            Button pour consulter la piece actuel -->
            <span class="text-600 text-lg font-semibold">
                <button pButton pRipple icon="pi pi-eye" pTooltip="Voir" tooltipPosition="top" class="p-button-text p-button-info hover:bg-blue-100" (click)="viewPiece()"></button>
            </span>
          </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
</p-dialog>


<!-- Dialog view piece jointe in pdf -->
<p-dialog
  [style]="{ width: '70rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [maximizable]="true"
  header="Piece jointe"
  [modal]="true"
  [(visible)]="visiblePdf"
>
  <ngx-extended-pdf-viewer
    [height]="'90vh'"
    zoom="30%"
  >
  </ngx-extended-pdf-viewer>
</p-dialog>
