<p-toast
  [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'1000ms'"
  [showTransformOptions]="'translateX(100%)'" />

<p-table
  [columns]="colDren"
  [value]="listDispo"
  #personnelListRegion
  dataKey="id"
  [rows]="5"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Page {currentPage} sur {totalPages}"
  [paginator]="true"
  styleClass="p-datatable-gridlines p-datatable-striped"
  responsiveLayout="scroll"
  [rowHover]="true"
  [rowsPerPageOptions]="[5,10, 20, 50]"
  tableStyleClass="p-datatable-gridlines"
  [globalFilterFields]="['region']"
>
  <ng-template pTemplate="caption">
    <div class="flex justify-content-start flex-column sm:flex-row">
      <button type="button"
              pButton pRipple
              icon="pi pi-file-excel"
              class="p-button-success mr-2"
              label="Excel"
              (click)="exportExcel(personnelListRegion)"
      ></button>
      <button type="button"
              pButton pRipple
              icon="pi pi-file-pdf"
              label="Pdf"
              class="p-button-warning mr-2"
              (click)="exportPdf(personnelListRegion)"
      >
      </button>
    </div>

    <div class="flex justify-content-end flex-column sm:flex-row">
              <span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(personnelListRegion, $event)"
                     placeholder="Recherche per direction..." class="w-full"/>
						</span>
    </div>
  </ng-template>
  <ng-template let-columns pTemplate="header">
    <tr>
      @for (col of columns; track col.field) {
        <th
          [pSortableColumn]="col.field"
          class="font-weight-bold "
        >
          {{ col.header }}
          @if (col.header != 'Photo') {
            <p-sortIcon [field]="col.field"></p-sortIcon>
          }
        </th>
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-personnel>
    <tr class="align-items-center align-content-center">
      <td
        style="min-width: 15rem">
        {{ personnel.matricule }}
      </td>
      <td
        style="min-width: 15rem">
        {{ personnel.nomPrenom  | uppercase }}
      </td>
      <td
        style="min-width: 15rem">
        {{ personnel.nomPrenomArab }}
      </td>
      <td
        style="min-width: 15rem">
        {{ personnel.nni }}
      </td>
      <td
        style="min-width: 15rem">
        {{ personnel.region }}
      </td>
    </tr>
  </ng-template>
</p-table>
