<p-toast
  [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'1000ms'"
  [showTransformOptions]="'translateX(100%)'" />

<div class="layout-menu-profile">
    <button class="p-link border-noround" (click)="toggleMenu()" pTooltip="Profile" [tooltipDisabled]="isTooltipDisabled">
      @if( currentUser.imagPers ){
        <img src="data:image/png;base64,{{currentUser.imagPers}}" alt="{{currentUser.nomPrenom}}"
                 class="w-4rem h-4rem border-circle shadow-4">
      }
      @else {
        <img src="assets/demo/images/avatar/user-avatar.png" alt="user.name"
             class="w-4rem h-4rem border-circle shadow-4">
      }
        <span>
            <strong>{{ currentUser.nomPrenom }}</strong>
            <small>{{  currentUser.nomPrenomArab }}</small>
        </span>
        <i class="layout-menu-profile-toggler pi pi-fw" [ngClass]="{'pi-angle-down': menuProfilePosition === 'start' || isHorizontal, 'pi-angle-up': menuProfilePosition === 'end' && !isHorizontal}"></i>
    </button>
    <ul *ngIf="menuProfileActive" [@menu]="isHorizontal ? 'overlay' : 'inline'">
        <li pTooltip="Profile" [tooltipDisabled]="isTooltipDisabled">
            <button class="p-link" [routerLink]="['/users-profile']">
                <i class="pi pi-file-o pi-fw"></i>
                <span>Profile</span>
            </button>
        </li>
        <li pTooltip="Logout" [tooltipDisabled]="isTooltipDisabled">
            <button class="p-link" (click)="confirm($event)">
                <i class="pi pi-power-off pi-fw"></i>
                <span>Logout</span>
            </button>
          <p-confirmPopup>
            <ng-template pTemplate="content" let-message>
              <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border p-3 mb-3">
                <i [class]="message.icon" class="text-6xl text-primary-500"></i>
                <p>{{ message.message }}</p>
              </div>
            </ng-template>
          </p-confirmPopup>
        </li>
    </ul>
</div>
