<div class="layout-container" [ngClass]="containerClass">

    <mrt-topbar></mrt-topbar>
    <mrt-rightmenu></mrt-rightmenu>
    <mrt-sidebar></mrt-sidebar>

    <div class="layout-content-wrapper">
        <mrt-breadcrumb></mrt-breadcrumb>

        <div class="layout-content">
            <router-outlet></router-outlet>
        </div>
    </div>

  @if(layoutService.state.staticMenuMobileActive){
    <div class="layout-mask"></div>
  }
<!--    <div *ngIf="layoutService.state.staticMenuMobileActive" class="layout-mask"></div>-->
</div>
