<p-card>
  <h2 class="text-center underline mb-5">ETATS PERSONNELS</h2>

  <p-tabView>
    <p-tabPanel   header="DREN">
      <p-table
        [columns]="colDren"
        [value]="list"
        #dt
        dataKey="id"
        [rows]="5"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Page {currentPage} sur {totalPages}"
        [paginator]="true"
        styleClass="p-datatable-gridlines p-datatable-striped"
        responsiveLayout="scroll"
        [rowHover]="true"
        [rowsPerPageOptions]="[5,10, 20, 50]"
        tableStyleClass="p-datatable-gridlines"
        [globalFilterFields]="['region','direction','affectation']"
      >
        <ng-template pTemplate="caption">
          <div class="flex justify-content-start flex-column sm:flex-row">
            <button type="button"
                    pButton pRipple
                    icon="pi pi-file-excel"
                    class="p-button-success mr-2"
                    label="Excel"
            ></button>
            <button type="button"
                    pButton pRipple
                    icon="pi pi-file-pdf"
                    label="Pdf"
                    class="p-button-warning mr-2"
                    (click)="exportPdf(dt)">
            </button>
          </div>

          <div class="flex justify-content-end flex-column sm:flex-row">
              <span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter($event)"
                     placeholder="Recherche..." class="w-full"/>
						</span>
          </div>
        </ng-template>
        <ng-template let-columns pTemplate="header">
          <tr>
            @for (col of columns; track col.field) {
              <th
                [pSortableColumn]="col.field"
                class="font-weight-bold "
              >
                {{ col.header }}
                @if(col.header != 'Photo'){
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                }
              </th>
            }
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-personnel>
          <tr class="align-items-center align-content-center">
            <td
              style="min-width: 15rem">
              {{ personnel.matricule }}
            </td>
            <td
              style="min-width: 15rem">
              {{ personnel.nomPrenom  | uppercase }}
            </td>
            <td
              style="min-width: 15rem">
              {{ personnel.region }}
            </td>
            <td
              style="min-width: 15rem">
              {{ personnel.direction }}
            </td>
            <td
              style="min-width: 15rem">
              {{ personnel.affectation }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
    <p-tabPanel header="DISPONIBILITE">
      <p-table
        [columns]="colDispo"
        [value]="listDispo"
        #dt1
        dataKey="id"
        [rows]="5"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Page {currentPage} sur {totalPages}"
        [paginator]="true"
        styleClass="p-datatable-gridlines p-datatable-striped"
        responsiveLayout="scroll"
        [rowHover]="true"
        [rowsPerPageOptions]="[5,10, 20, 50]"
        tableStyleClass="p-datatable-gridlines"
        [globalFilterFields]="['matricule','nomEtPrenom','affectation']"
      >
        <ng-template pTemplate="caption">
          <div class="flex justify-content-start flex-column sm:flex-row">
            <button type="button"
                    pButton pRipple
                    icon="pi pi-file-excel"
                    class="p-button-success mr-2"
                    label="Excel"
                    tooltipPosition="bottom"
            ></button>
            <button type="button"
                    pButton pRipple
                    icon="pi pi-file-pdf"
                    label="Pdf"
                    class="p-button-warning mr-2"
                    tooltipPosition="bottom">

            </button>
          </div>

          <div class="flex justify-content-end flex-column sm:flex-row">
              <span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilterDispo(dt1, $event)"
                     placeholder="Recherche..." class="w-full"/>
						</span>
          </div>
        </ng-template>
        <ng-template let-columns pTemplate="header">
          <tr>
            @for (col of columns; track col.field) {
              <th
                [pSortableColumn]="col.field"
                class="font-weight-bold "
              >
                {{ col.header }}
                @if(col.header != 'Photo'){
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                }
              </th>
            }
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-person>
          <tr class="align-items-center align-content-center">
            <td
              style="min-width: 15rem">
              {{ person.matricule }}
            </td>
            <td
              style="min-width: 15rem">
              {{ person.nomPrenom  | uppercase }}
            </td>
            <td
              style="min-width: 15rem">
              {{ person.disponible }}
            </td>
            <td
              style="min-width: 15rem">
              {{ person.actiforno }}
            </td>
            <td
              style="min-width: 15rem">
              {{ person.absent }}
            </td>
            <td style="min-width: 15rem">
              {{ person.conge }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
  </p-tabView>



</p-card>
