<p-tabView>

  <!--  Nationale -->
    <p-tabPanel header="National">
      <div class="text-900 font-bold text-3xl mb-4 mt-2">Formulaire d'affectation pour convenance niveau national</div>
      <div class="m-2">
        <mrt-convenance-personnelle-niveau-nationale></mrt-convenance-personnelle-niveau-nationale>
      </div>
    </p-tabPanel>
  
  <!--  Régional -->
    <p-tabPanel header="Régional">
      <div class="text-900 font-bold text-3xl mb-4 mt-2">Formulaire d'affectation pour convenance niveau regional</div>
      <div class="m-2">
      <mrt-convenance-personnelle-niveau-regionale></mrt-convenance-personnelle-niveau-regionale>
      </div> 
    </p-tabPanel>
  
  <!--  moughataa    -->
    <p-tabPanel header="Départemental">
      <div class="text-900 font-bold text-3xl mb-4 mt-2">Formulaire d'affectation pour convenance niveau départemental</div>
      <div class="m-2">
      <mrt-convenance-personnelle-niveau-communale></mrt-convenance-personnelle-niveau-communale>
      </div>
    </p-tabPanel>
  
  </p-tabView>