  <div class="grid">
<!--   Premiere partie -->
    <div class="col-12 md:col-6 lg:col-3">
      <div class="p-3 text-white h-6rem border-round m-0 bg-center bg-cover bg-no-repeat bg-cyan-400"
           style="background-image: url('assets/layout/images/dashboard/effect-1.svg')">
        <div class="font-bold w-full mb-3">
          <span>Sales</span>
        </div>
        <div class="text-white text-2xl font-bold w-full flex align-items-center py-1">150 <i
          class="pi pi-arrow-up ml-2 font-bold"></i></div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="p-3 text-white h-6rem border-round m-0 bg-center bg-cover bg-no-repeat bg-orange-400"
           style="background-image: url('assets/layout/images/dashboard/effect-2.svg')">
        <div class="font-bold w-full mb-3">
          <span>Revenue</span>
        </div>
        <div class="text-white text-2xl font-bold w-full flex align-items-center py-1">532 <i
          class="pi pi-arrow-up ml-2 font-bold"></i></div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="p-3 text-white h-6rem border-round m-0 bg-center bg-cover bg-no-repeat bg-purple-400"
           style="background-image: url('assets/layout/images/dashboard/effect-3.svg')">
        <div class="font-bold w-full mb-3">
          <span>New Customers</span>
        </div>
        <div class="text-white text-2xl font-bold w-full flex align-items-center py-1">450 <i
          class="pi pi-arrow-down ml-2 font-bold"></i></div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="p-3 text-white h-6rem border-round m-0 bg-center bg-cover bg-no-repeat bg-bluegray-200"
           style="background-image: url('assets/layout/images/dashboard/effect-4.svg')">
        <div class="font-bold w-full mb-3">
          <span>Stock</span>
        </div>
        <div class="text-white text-2xl font-bold w-full flex align-items-center py-1">143 <i
          class="pi pi-arrow-down ml-2 font-bold"></i></div>
      </div>
    </div>
<!--   Deuxieme partie -->
    <div class="col-12 lg:col-4 p-3">
      <div class="card">
        <div class="flex align-items-center justify-content-between">
          <div>
            <span class="font-bold text-3xl text-color">450</span>
            <p class="mt-2 mb-0 text-2xl text-color-secondary">Reviews Received</p>
          </div>
          <div>
            <img src="assets/layout/images/dashboard/stats-illustration-1.svg" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 lg:col-4 p-3">
      <div class="card">
        <div class="flex align-items-center justify-content-between">
          <div>
            <span class="font-bold text-3xl text-color">71K</span>
            <p class="mt-2 mb-0 text-2xl text-color-secondary">Unique Visitors</p>
          </div>
          <div>
            <img src="assets/layout/images/dashboard/stats-illustration-2.svg" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 lg:col-4 p-3">
      <div class="card">
        <div class="flex align-items-center justify-content-between">
          <div>
            <span class="font-bold text-3xl text-color">757</span>
            <p class="mt-2 mb-0 text-2xl text-color-secondary">Payments Processed</p>
          </div>
          <div>
            <img src="assets/layout/images/dashboard/stats-illustration-3.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
