<p-card>
  <div class="text-700 text-center h-full">
    <div class="text-900 font-bold text-5xl mb-3">Système d'Information de Gestion des Ressources Humaines(S.I.G.R.H)</div>
    <div class="w-full flex align-items-center justify-content-center">
      <img src="assets/layout/images/logo/img.png" alt="sigrh" class="w-10rem">
    </div>
  </div>
</p-card>
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-4">-->
<!--      <div class="profile profile-ancien">-->
<!--        <div class="profile-name">-->
<!--          <div class="header">-->
<!--            <p>Monsieur Joseph André OUEDRAOGO</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <figure class="profile-image">-->
<!--          <div class="circle-image">-->
<!--            <div class="news-img-wrap">-->
<!--              <div class="outer"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </figure>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-lg-8 col-md-8"></div>-->
<!--  </div>-->
<!--</div>-->
